html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6 {
  display: inline-block;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 40px;
  -webkit-box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover {
  -webkit-box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.btn1:hover span.btn-shadow, .btn2:hover span.btn-shadow, .btn3:hover span.btn-shadow, .btn4:hover span.btn-shadow, .btn5:hover span.btn-shadow, .btn6:hover span.btn-shadow {
  position: absolute;
  display: inline-block;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn1 {
  color: black;
}

.btn2 {
  color: black;
}

.btn3 {
  color: black;
}

.btn4 {
  color: black;
}

.btn5 {
  color: black;
}

.btn6 {
  color: black;
}

.btn7, .btn8, .btn9, .btn10, .btn11, .btn12 {
  display: inline-block;
  padding: 15px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #1e1e1e;
  font-size: 12px;
  border-radius: 40px;
  -webkit-box-shadow: inset -2px -2px 8px black, inset -2px -2px 12px rgba(30, 30, 30, 0.5), inset 2px 2px 4px rgba(30, 30, 30, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px -2px 8px black, inset -2px -2px 12px rgba(30, 30, 30, 0.5), inset 2px 2px 4px rgba(30, 30, 30, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.btn7:hover, .btn8:hover, .btn9:hover, .btn10:hover, .btn11:hover, .btn12:hover {
  -webkit-box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.15), inset -2px -2px 12px rgba(30, 30, 30, 0.1), inset 2px 2px 4px rgba(30, 30, 30, 0.5), inset 2px 2px 8px black;
          box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.15), inset -2px -2px 12px rgba(30, 30, 30, 0.1), inset 2px 2px 4px rgba(30, 30, 30, 0.5), inset 2px 2px 8px black;
}

.btn7:hover span.btn-shadow, .btn8:hover span.btn-shadow, .btn9:hover span.btn-shadow, .btn10:hover span.btn-shadow, .btn11:hover span.btn-shadow, .btn12:hover span.btn-shadow {
  position: absolute;
  display: inline-block;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn7 {
  color: white;
}

.btn8 {
  color: white;
}

.btn9 {
  color: white;
}

.btn10 {
  color: white;
}

.btn11 {
  color: white;
}

.btn12 {
  color: white;
}

.btn-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.btn-form .white {
  margin-bottom: 50px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.btn-form .black {
  margin-top: 50px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: #c2dfe3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .list .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .list .list-box li a {
  margin: 0 10px;
  height: 50px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0e1c36;
}

footer {
  background-color: #fff;
}

body {
  background-color: #f2f3f7;
}
/*# sourceMappingURL=style.css.map */