%btn-shadow-white {
    @include shadow-btn-white(level6);
  }
  $var: 1;
  @for $var from 1 to 7 {
    .btn#{$var} {
      @extend %btn-shadow-white;
      color:black;
    }
  }
  
  %btn-shadow-black {
    @include shadow-btn-black(level6);
  }
  $var: 1;
  @for $var from 7 to 13 {
    .btn#{$var} {
      @extend %btn-shadow-black;
      color: white;
    }
  }
  .btn-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    .white{
      margin-bottom: 50px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
    .black{
      margin-top: 50px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
    }
  }