@font-face {
    font-family: "Tahoma_Regular_font"; //內文
    src: url(./../fonts/Tahoma_Regular_font.ttf);
}
@font-face {
    font-family: "SilomBol"; //使⽤者名,email,點數
    src: url(./../fonts/SilomBol.ttf);
}
@font-face {
    font-family: "ZapfinoForteLTPro"; //價格數字
    src: url(./../fonts/Zapfino-Font-Family/ZapfinoExtraLTPro/ZapfinoExtraLTPro.ttf);
}
@font-face{
    font-family: "Monoton-Regular";//嗎啡標題
    src: url(./../fonts/Monoton-Regular.ttf);
}
@font-face{
    font-family: "Tahoma_Regular_font";//嗎啡標題
    src: url(./../fonts/Tahoma-Font/Tahoma_Regular_font.ttf);
}


