@font-face {
    font-family: GN-Aki-iro_Sesami_Cookies, HelveticaNeue;
    src: url(/dev/layout/fonts/GN-Aki-iro_Sesami_Cookies.ttf);
}
@font-face {
    font-family: "HelveticaNeue";
    src: url(/dev/layout/fonts/helveticaneue/HelveticaNeue.ttf);
}
@font-face {
    font-family: "SilomBol";
    src: url(/dev/layout/fonts/SilomBol.ttf);
}
@font-face {
    font-family: "SilomBol2";
    src: url(/dev/layout/fonts/SilomBol2.ttf);
}
@font-face {
    font-family: "fontscom_fonts_ADPX";
    src: url(/dev/layout/fonts/fontscom_fonts_ADPX.ttf);
}
@font-face {
    font-family: impact;
    src: url(/dev/layout/fonts/impact/impact.ttf);
}
@font-face {
    font-family: "Times-Sans-Serif";
    src: url(/dev/layout/fonts/Times-Sans-Serif/Times-Sans-Serif.ttf);
}
@font-face {
    font-family: "Lobster1";
    src: url(/dev/layout/fonts/lobster/Lobster1.otf);
}
@font-face {
    font-family: "Trajan-Pro-Regular";
    src: url(/dev/layout/fonts/Trajan_Pro_Regular/Trajan-Pro-Regular.ttf);
}
@font-face {
    font-family: "LinotypeZapfino_One";
    src: url(/dev/layout/fonts/Zapfino-Font-Family/LinotypeZapfino-One/LinotypeZapfino_One.ttf);
}
