@import "../../layout/base/_reset.scss";
@import "../../layout/mixins/allmixin";
@import "../../layout/_footer.scss";
@import "../../layout/_head.scss";
@import "../../layout/_header.scss";
@import "../../layout/modules/btn";