@import "../../layout/base/var";
body {
    position: relative;
    .bgc {
        position: absolute;
        background-color: #333333;
        width: 100%;
        height: 100vh;
        .box-shadow {
            
            @include HandV_center(50%,50%);
            @include shadow-box-black()
        }
    }

}

