@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

footer {
  width: 100%;
  background-color: #353535;
  z-index: -1; }
  footer div.footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto; }
    footer div.footer ul.list-left {
      flex: 2;
      display: flex;
      flex-wrap: wrap; }
      footer div.footer ul.list-left li {
        width: 30%;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 20px;
        margin: 5px 0; }
        footer div.footer ul.list-left li a {
          color: white;
          text-decoration: none;
          font-size: 14px; }
    footer div.footer ul.list-right {
      flex: 1; }
      footer div.footer ul.list-right li {
        margin-bottom: 25px;
        color: blanchedalmond; }
      footer div.footer ul.list-right li:nth-child(2) ul {
        display: flex; }
        footer div.footer ul.list-right li:nth-child(2) ul li {
          width: 25px;
          height: 25px;
          background-color: gray;
          margin: 0 5px;
          text-align: center; }
          footer div.footer ul.list-right li:nth-child(2) ul li a {
            text-decoration: none;
            color: #fff;
            line-height: 25px; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999; }
  header div.nav_bar {
    position: relative;
    transition: top 0.3s linear;
    color: whitesmoke;
    width: 100%;
    background-image: url("/dest/image/index/background/black_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex; }
    header div.nav_bar div.logo {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      header div.nav_bar div.logo a {
        background-image: url("/dest/image/title/logo-text.png");
        width: 300px;
        height: 70px;
        display: block;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
    header div.nav_bar div.fuction_btn_right {
      z-index: 999;
      position: absolute;
      top: 50%;
      left: 88%;
      transform: translateY(-50%); }
      header div.nav_bar div.fuction_btn_right i {
        cursor: pointer;
        font-size: 25px;
        margin-right: 20px; }
      header div.nav_bar div.fuction_btn_right div.points {
        display: flex;
        align-items: center;
        margin-bottom: 5px; }
      header div.nav_bar div.fuction_btn_right div.login_car {
        display: flex; }
  header ul.title_list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0e1c36; }
    header ul.title_list li {
      margin: 10px 15px; }
      header ul.title_list li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        color: #e6e6e6;
        letter-spacing: 3px; }
    header ul.title_list form.fuction_search {
      position: absolute;
      top: 50%;
      left: 88.2%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center; }
      header ul.title_list form.fuction_search i.icofont-search {
        font-weight: bold;
        margin-right: 15px;
        color: white;
        font-size: 25px;
        cursor: pointer; }
      header ul.title_list form.fuction_search input {
        background-color: transparent;
        box-shadow: 0 0 3px white;
        padding-left: 10px;
        color: white;
        border: none;
        border-radius: 15px;
        width: 0;
        transition: all 0.5s linear;
        opacity: 0; }
      header ul.title_list form.fuction_search input.on {
        opacity: 1;
        width: 100px; }
  header div.login-Bg.on {
    display: block; }
  header div.login-Bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #333333;
    z-index: 1;
    position: fixed;
    display: none; }
    header div.login-Bg .login-Box {
      width: 300px;
      height: 300px;
      border-radius: 50px;
      background-color: #444444;
      box-shadow: -20px -20px 20px #505050, -30px -30px 30px #4b4b4b, -40px -45px 40px #464646, -50px -50px 50px #414141, 20px 20px 20px #323232, 30px 30px 30px #2d2d2d, 40px 40px 40px #282828, 50px 50px 50px #232323;
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 10px;
      background-color: #3c4146;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%); }
      header div.login-Bg .login-Box .sign-title {
        font-size: 0px;
        text-align: center;
        display: inline-block;
        margin: 15px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        header div.login-Bg .login-Box .sign-title h1 {
          cursor: pointer;
          font-size: 30px;
          text-align: center;
          display: inline-block;
          padding: 10px 20px; }
          header div.login-Bg .login-Box .sign-title h1:hover {
            transition: all 0.5s;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      header div.login-Bg .login-Box div.X {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #000;
        width: 25px;
        height: 25px; }
        header div.login-Bg .login-Box div.X span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 1px;
          background-color: black; }
        header div.login-Bg .login-Box div.X span.left {
          transform: translate(-50%, -50%) rotate(45deg); }
        header div.login-Bg .login-Box div.X span.right {
          transform: translate(-50%, -50%) rotate(-45deg); }
      header div.login-Bg .login-Box .sign-in {
        display: block; }
      header div.login-Bg .login-Box .sign-up {
        display: none; }
      header div.login-Bg .login-Box .sign {
        padding: 0 30px; }
        header div.login-Bg .login-Box .sign label {
          font-weight: normal;
          font-size: 16px; }
          header div.login-Bg .login-Box .sign label input {
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            height: 20px;
            border: 1px solid rgba(0, 0, 0, 0.5); }
          header div.login-Bg .login-Box .sign label .viveswitch {
            width: 20px;
            margin-right: 10px; }
        header div.login-Bg .login-Box .sign a {
          text-decoration: none;
          color: #1e7efc;
          font-size: 16px; }
        header div.login-Bg .login-Box .sign .submit {
          width: 100%;
          margin-top: 10px; }

main {
  background-color: #222; }

div.breadcrumb {
  padding: 5px 50px;
  border-radius: 5px;
  background-color: #222; }

div.breadcrumb ol.breadcrumb_list {
  margin: 0;
  padding: 0;
  list-style: none; }

div.breadcrumb ol.breadcrumb_list > li {
  display: inline-block;
  margin-right: 10px; }

div.breadcrumb ol.breadcrumb_list > li::before {
  content: "/";
  font-size: 24px;
  color: #aaa;
  margin-right: 12px; }

div.breadcrumb ol.breadcrumb_list > li:first-child::before {
  content: "";
  margin-right: 0; }

div.breadcrumb ol.breadcrumb_list > li > a {
  text-decoration: none;
  display: inline-block;
  color: #aaa;
  font-size: 20px; }

div.breadcrumb ol.breadcrumb_list > li > a:hover {
  color: #6b0404; }

.demo-1 .elastislide-horizontal {
  padding: 10px 37px;
  border-radius: 10px/90px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), inset 10px 0 10px 1px rgba(155, 155, 155, 0.1); }

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 20px;
  width: 50%;
  height: 20%;
  border-radius: 10px/90px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.demo-1 .elastislide-wrapper:after {
  right: 20px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg); }

.demo-2 .elastislide-vertical {
  max-width: 170px;
  padding: 37px 10px;
  border-radius: 90px/10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), inset 0 10px 10px 1px rgba(155, 155, 155, 0.1); }

.demo-2 .elastislide-vertical:before {
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  content: " ";
  position: absolute;
  z-index: -2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 20px/160px; }

.demo-2 .elastislide-vertical:after {
  content: " ";
  position: absolute;
  z-index: -2; }

.demo-3 .elastislide-horizontal {
  background-color: #000;
  padding: 30px 60px; }

.no-touch .demo-3 .elastislide-horizontal {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.no-touch .demo-3 .elastislide-horizontal:hover {
  opacity: 1; }

.demo-3 .elastislide-wrapper nav span {
  background-color: #000; }

.demo-3 .elastislide-carousel ul li a {
  padding: 0 10px; }

.demo-3 .elastislide-carousel ul li a video {
  border-radius: 10px;
  border: none; }

.demo-4 .elastislide-horizontal {
  background-color: transparent;
  border-radius: 20px 20px 0 0; }

.demo-3 .elastislide-horizontal.elastislide-loading,
.demo-4 .elastislide-horizontal.elastislide-loading {
  background-image: url(./dev/html/latest-news/img/loading_dark.gif); }

.demo-4 .elastislide-carousel ul li a {
  padding: 2px; }

.demo-4 .elastislide-carousel ul li a video {
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px #000; }

.demo-4 .elastislide-wrapper nav span {
  background-color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }

.demo-4 .image-preview video {
  max-width: 100%;
  display: block; }

.demo-4 .elastislide-carousel ul li.current-img a video {
  box-shadow: 0 0 3px 2px rgba(62, 235, 255, 0.8); }

@media screen and (max-width: 460px) {
  .demo-3 .elastislide-horizontal {
    padding: 10px 40px; } }

/* General Demo Style */
html {
  height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #ddd url(./img/bg.jpg) repeat top left;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

a {
  color: #555;
  text-decoration: none; }

.container {
  width: 100%;
  position: relative; }

.clr {
  clear: both;
  float: none; }

.main {
  width: 100%;
  /* max-width: 960px; */
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }

.main > header {
  padding: 40px 0; }

.main > header h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  font-weight: 700;
  color: #333;
  float: left; }

.main > header h1 span {
  display: block;
  font-size: 20px;
  font-weight: 300; }

.main p {
  padding: 30px 0 0;
  text-align: center;
  font-weight: 400;
  line-height: 22px; }

/* Header Style */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2); }

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  text-shadow: 0 -1px 0 #fff;
  display: inline-block; }

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  float: left;
  display: block; }

/* Demo Buttons Style */
.codrops-demos {
  float: right;
  clear: none;
  padding-top: 10px; }

.codrops-demos a {
  display: inline-block;
  margin: 10px 10px 10px 0;
  color: #666;
  font-weight: 700;
  line-height: 30px;
  border-bottom: 4px solid transparent; }

.codrops-demos a:hover {
  color: #000;
  border-color: #000; }

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  color: #aaa;
  border-color: #aaa; }

.column {
  width: 50%;
  float: left;
  padding: 20px;
  min-height: 300px; }

.column p {
  text-align: left; }

.column-20 {
  width: 20%; }

.column-80 {
  width: 80%; }

.js .fixed-bar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0; }

.js .gallery {
  width: 100%;
  /* max-width: 450px; */
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  background: #000 url(./img/black_denim.png);
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.9), 0 -2px 1px rgba(255, 255, 255, 0.9); }

.lt-ie8 .elastislide-list {
  display: none; }

@media screen and (max-width: 690px) {
  .codrops-demos {
    float: left;
    clear: both; } }

/* Elastislide Style */
.elastislide-list {
  list-style-type: none;
  display: none; }

.no-js .elastislide-list {
  display: block; }

.elastislide-carousel ul li {
  min-width: 20px;
  /* minimum width of the image (min width + border) */ }

.elastislide-wrapper {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  min-height: 60px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

.elastislide-wrapper.elastislide-loading {
  background-image: url(./img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center; }

.elastislide-horizontal {
  padding: 10px 40px; }

.elastislide-vertical {
  padding: 40px 10px; }

.elastislide-carousel {
  overflow: hidden;
  position: relative; }

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px); }

.elastislide-horizontal ul {
  white-space: nowrap; }

.elastislide-carousel ul li {
  margin: 0;
  backface-visibility: hidden; }

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block; }

.elastislide-vertical ul li {
  display: block; }

.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%; }

.elastislide-carousel ul li a video {
  display: block;
  border: 2px solid white;
  max-width: 100%; }

/* Navigation Arrows */
.elastislide-wrapper nav span {
  position: absolute;
  background: #ddd url(./img/nav.png) no-repeat 4px 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8; }

.elastislide-wrapper nav span:hover {
  opacity: 1.0; }

.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -11px; }

.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px; }

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 4px -17px; }

.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px; }

.first_title {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 2%; }

#app {
  width: 100%; }

.map_title {
  font-size: 20px;
  color: white;
  margin: 15px; }

.out-left {
  background-color: #4079d6;
  width: 95%; }

.title_area {
  position: absolute; }

.title_area h6 {
  padding: 8px;
  font-size: 30px;
  color: #cccccc;
  font-weight: 600; }

.title_area hr {
  width: 100%;
  border: 1px solid white;
  margin: 0; }

.forcast {
  margin: 8px 0 0 8px; }

.forcast h2,
h4,
h5 {
  margin: auto;
  font-size: 20px;
  line-height: 26px;
  color: white; }

#image_3 {
  width: 90%; }

path {
  stroke: white;
  fill: transparent;
  transition: 0.5s;
  fill: #B99362;
  transform: translate(-5px, -5px); }

path:hover {
  fill: white; }

.map_chartarea {
  position: relative;
  display: flex;
  width: 90%;
  margin: auto; }

.out-right {
  order: 1;
  width: 90%; }

.map_table {
  margin-top: 6%;
  background-color: white; }

.map_table table {
  text-align: center;
  width: 100%;
  height: 50px; }

.map_table table tr td {
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  padding: 10px; }

.map_chart {
  width: 100%; }

.svg1 {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; }
  .svg1 .svg1_1 {
    background-color: white;
    width: 100%;
    margin-top: 30px;
    height: 240px; }
  .svg1 h1 {
    color: red;
    margin-top: 28px;
    text-align: center;
    font-size: 28px; }
  .svg1 h6 {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 18px; }

canvas {
  background-color: white; }

hr {
  width: 94%;
  margin: 20px auto; }

.news_container {
  width: 100%; }

.tab_block {
  margin: 5% 0 1.5% 3%; }

.tab_block h1 {
  font-size: 40px;
  color: white; }

.tab_block .tab_list {
  display: flex;
  list-style: none;
  margin-top: 10px;
  width: 100%; }

.tab_block .tab_list > li {
  display: flex; }

.tab_block .tab_list > li::before {
  content: "|";
  font-size: 36px;
  color: #aaa;
  margin: 0 10px; }

.tab_block .tab_list > li:first-child::before {
  content: "";
  padding: 0;
  margin: 0; }

.tab_block .tab_list > li > a {
  padding: .3em .5em;
  background: #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3em;
  box-shadow: 0 1px white inset;
  text-align: center;
  text-shadow: 0 1px 1px white; }

.tab_block .tab_list > li > a > p {
  display: inline-block;
  font-size: 30px; }

ul.tab_list > li > a.-on {
  box-shadow: 0.05em 0.1em 0.2em rgba(0, 0, 0, 0.6) inset;
  background: rgba(224, 224, 224, 0.3);
  color: #6b0404; }

.tab1,
.tab2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .tab1 .top_cards,
  .tab2 .top_cards {
    width: 100%; }
    .tab1 .top_cards h2,
    .tab2 .top_cards h2 {
      font-size: 26px;
      color: #aaa;
      margin-left: 3%; }
    .tab1 .top_cards .top_cards_pic,
    .tab2 .top_cards .top_cards_pic {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      justify-content: center; }
      .tab1 .top_cards .top_cards_pic > div,
      .tab2 .top_cards .top_cards_pic > div {
        margin: 0 10px;
        position: relative;
        margin-bottom: 20px; }
        .tab1 .top_cards .top_cards_pic > div img,
        .tab2 .top_cards .top_cards_pic > div img {
          width: 400px; }

div.date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
  opacity: 0.8; }
  div.date h4.year {
    color: white;
    font-size: 12px; }
  div.date h4.day {
    color: white;
    font-size: 24px;
    margin: 5px 0;
    font-weight: bolder; }
  div.date h4.month {
    color: grey;
    font-size: 16px; }

div.cards_content {
  position: absolute;
  bottom: 0%;
  background-color: black;
  opacity: 0.8;
  display: block;
  width: 100%;
  padding: 15px; }

.inside-left {
  flex: 1;
  margin-top: 20px; }
  .inside-left .list {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .inside-left .list .list-Title {
      text-align: center;
      padding: 2.5%;
      font-size: 20px;
      background-color: #bbb;
      letter-spacing: 2px;
      border: 1px solid #bbb;
      box-sizing: border-box;
      border-radius: 5px 5px 0 0; }
    .inside-left .list .item {
      height: 10%;
      text-align: left;
      width: 100%;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      box-sizing: border-box; }
      .inside-left .list .item > .item-content {
        padding: 15px 10px;
        width: 100%; }
        .inside-left .list .item > .item-content > span {
          text-align: center;
          display: inline-block;
          font-size: 24px;
          color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: #f00;
          line-height: 1.3;
          box-sizing: border-box; }
        .inside-left .list .item > .item-content a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          margin-left: 5px; }
          .inside-left .list .item > .item-content a p {
            letter-spacing: 1px;
            font-size: 16px; }

.bottom_cards {
  width: 100%;
  margin-top: 5%; }
  .bottom_cards h2 {
    font-size: 26px;
    color: #aaa;
    margin-left: 3%; }
  .bottom_cards .bottom_cards_pic {
    position: relative;
    display: flex;
    justify-content: center; }
    .bottom_cards .bottom_cards_pic .all-list {
      width: 25%; }
      .bottom_cards .bottom_cards_pic .all-list .list1 {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .bottom_cards .bottom_cards_pic .all-list .list1 img {
          width: 100%; }
        .bottom_cards .bottom_cards_pic .all-list .list1 .list1-1 {
          position: relative;
          margin-top: 20px; }

.list2 {
  display: flex;
  flex-direction: column;
  width: 67%;
  justify-content: start; }
  .list2 .list2-2q {
    display: flex;
    width: 100%; }
    .list2 .list2-2q .list2-1 {
      width: 100%;
      margin-left: 20px; }
    .list2 .list2-2q .list2-22 {
      display: flex;
      flex-direction: column;
      width: 62.5%; }
  .list2 .list2-2222221 {
    position: relative;
    margin-top: 20px; }
  .list2 img {
    width: 100%; }

.list-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px; }
  .list-2 .list2-1-1 {
    width: 100%;
    position: relative;
    margin-left: 20px; }
  .list-2 .list2-1-1 img {
    width: 100%; }

.list3-qal {
  display: flex; }
  .list3-qal .list2-3 {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px; }
  .list3-qal .list-3 {
    display: flex;
    flex-direction: column;
    width: 60%; }
  .list3-qal .list-333 {
    position: relative;
    margin-top: 20px;
    margin-left: 20px; }

div.tab {
  display: none; }

div.tab.-on {
  display: flex; }

.laster {
  width: 100%;
  background-color: #f1eadd;
  padding: 15px 10px; }
  .laster span {
    font-size: 16px;
    line-height: 24px; }

div.pagination_block {
  margin-top: 1%;
  display: flex;
  text-align: center;
  justify-content: center; }

div.pagination_block > ul.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0; }

div.pagination_block > ul.pagination > li {
  display: inline-block; }

div.pagination_block > ul.pagination > li > a {
  display: inline-block;
  text-decoration: none;
  border-right: 0;
  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
  background-color: #222; }

div.pagination_block > ul.pagination > li:last-child > a {
  border-right: 1px solid #dee2e6;
  border-radius: 0 5px 5px 0; }

div.pagination_block > ul.pagination > li:first-child > a {
  display: inline-block;
  border-radius: 5px 0 0 5px; }

div.pagination_block > ul.pagination > li > a.-on {
  color: #408fe4; }

div.pagination_block > ul.pagination > li > a:hover {
  background-color: #e9ecef;
  color: #0056b3; }
