<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../../dev/image/title/logoimage.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="../../dev/image/title/logoimage.ico" />
    <!-- <link rel="stylesheet" type="text/css" th:href="@{../index/style.css}">
    <link rel="stylesheet" type="text/css" href="/dest/index/style.css">
    <link rel="stylesheet" type="text/css" href="/dest/index/style.css"> -->
    <link rel="stylesheet" href="/dest/forum/forum.css">
</head>

<body>
    <header>
    <div class="nothing"></div>
    <ul class="list-title">
        <li><a href="/dest/Entertaining/Entertaining.html">防疫知識王</a></li>
        <li><a href="/dest/forum/forum.html">討論區</a></li>
        <li><a href="/dest/Infectious-Diseases/Infectious-Diseases.html">傳染病事記</a></li>
        <li class="logo"><a href="/dest/index/index.html"></a></li>
        <li><a href="/dest/latest-news/latest-news.html">最新消息</a></li>
        <li><a href="/dest/Epidemic-prevention-SOP/Epidemic-prevention-SOP.html">防疫SOP</a></li>
        <li><a href="/dest/Epidemic-shop/Epidemic-shop.html">防疫商店</a></li>
    </ul>
    <div class="fuction">
        <div class="up" id="login-btn">login</div>
        <div class="down">down</div>
    </div>
    <div class="login-Bg" id="loginBg">
        <div class="login-Box">
            <div class="sign-title">
                <h1 id="sign-in">登入</h1>
                <h1 id="sign-up">註冊</h1>
            </div>
            <div class="X" id="btnX">
                <span class="left"></span>
                <span class="right"></span>
            </div>
            <form class="sign sign-in" action="/dest/index/sign-in.php" method="GET">

                <label for="emeEmail">登入信箱<br>
                    <input class="input-data" type="email" name="emeEmail">
                </label><br>

                <label for="emePaw">登入密碼<br>
                    <input class="input-data" type="password" name="emePaw"><br>
                    <input class="viveswitch" type="checkbox">顯示密碼
                </label>
                <a href="">忘記密碼</a>
                <br>
                <input class="submit" type="submit" name="login" value="登入">
            </form>

            <form class="sign sign-up" action="/dest/index/sign-up.php" method="GET">
                <label for="upEmail">註冊信箱<br>
                    <input class="input-data" type="email" name="upEmail">
                </label><br>

                <label for="upPaw">註冊密碼<br>
                    <input class="input-data" type="password" name="upPaw"><br>
                    <input class="viveswitch" type="checkbox" id="vivePsw">顯示密碼
                </label>
                <a href="">忘記密碼</a>
                <br>
                <input class="submit" type="submit" name="login" value="登入">
            </form>
        </div>
    </div>
</header>
    <footer>
    <div class="footer">
        <ul class="list-left">
            <li>防疫大富翁
                <a href="">規則說明</a>
            </li>
            <li>討論區
                <a href="">新增文章</a>
                <a href="">熱搜排行</a>
            </li>
            <li>傳染病介紹
                <a href="">法定傳染病</a>
                <a href="">依照傳染途徑</a>
            </li> 
            <li>最新消息
                <a href="">國內疫情確診分佈</a>
                <a href="">國際醫療時事</a>
                <a href="">國內醫療時事</a>
                <a href="">醫療政令</a>
                <a href="">醫療新聞</a>
            </li>
            <li>防疫商店
                <a href="">虛擬展示功能</a>
                <a href="">熱門商品</a>
                <a href="">購物車</a>
            </li>
            <li>會員中心
                <a href="">會員註冊</a>
                <a href="">訂單查詢</a>
                <a href="">忘記密碼</a>
                <a href="">點數查詢</a>
            </li>
            <li>防疫SOP
                <a href="">肺炎自我評估</a>
            </li>
        </ul>
        <ul class="list-right">
            <li>關注我們</li>
            <li>
                <ul class="icon">
                    <li><a class="ig" href="">ig</a></li>
                    <li><a class="fb" href="">fb</a></li>
                    <li><a class="tw" href="">tw</a></li>
                    <li><a class="pin" href="">pin</a></li>
                    <li><a class="yt" href="">yt</a></li>
                </ul>
            </li>
            <li>訂閱我們</li>
            <form action="">
                <input class="email"type="text" placeholder="E-mail">
                <input class="email-on" type="submit" value="訂閱">
            </form>
        </ul>
    </div>
</footer>
</body>

</html>