@import "../layout/mixins/allmixin";
@import "../layout/modules/btn";
header {
    font-family: "Times-Sans-Serif";
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    div.nav_bar {
        max-width: 1440px;
        position: relative;
        transition: top 0.3s linear;
        color: whitesmoke;
        width: 100%;
        display: flex;
        z-index: 1;
        div.logo {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            a {
                background-image: url("./../image/title/title_text_logo.png");
                width: 400px;
                height: 70px;
                display: block;
                background-position: center 15px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        div.fuction_btn_right {
            z-index: 999;
            position: absolute;
            top: 50%;
            right: 1%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            font: $sub_titleFs normal;
            div.member_center {
                display: none;
                margin-right: 5px;
                >a {
                    text-decoration: none;
                    color: #8e8e8e;
                    >p {
                        font-size: $sub_titleFs;
                    }
                }
                &.on {
                    display: block;
                }
            }
            i {
                cursor: pointer;
                margin-right: 10px;
                font-style: normal;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            div.points {
                // display: flex;
                display: none;
                align-items: center;
                margin-right: 20px;
                font: $fontSize;
            }
            div.inbtn {
                display: flex;
                align-items: center;
            }
        }
    }
    div.title_list {
        width: 100%;
        position: relative;
        background-color: #000;
        z-index: 1;
        div.main_box {
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 1440px;
            margin: 0 auto;
            div.menu_btn {
                span {
                    display: none;
                }
                span.horizontal {
                    width: 0px;
                    height: 0px;
                }
                span.vertical {
                    width: 0px;
                    height: 0px;
                }
            }
            ul.mark_bar {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin: 10px;
                    a {
                        position: relative;
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        color: #8e8e8e;
                        letter-spacing: 3px;
                        display: inline-block;
                    }
                }
                i.icofont-cart {
                    order: 7;
                    position: relative;
                    right: -22%;
                    color: #8e8e8e;
                }
            }
            i.icofont-cart {
                font-weight: bold;
                color: white;
                font-size: $icon_fs;
                cursor: pointer;
                input {
                    background-color: transparent;
                    box-shadow: 0 0 3px rgba(255, 255, 255, 9);
                    padding-left: 10px;
                    color: white;
                    border: none;
                    border-radius: 15px;
                    width: 0%;
                    transition: all 0.5s linear;
                    opacity: 0;
                }
                input.on {
                    opacity: 1;
                    width: 100%;
                    margin-right: 20px;
                }
            }
        }
        div.login_Bg.open {
            display: block;
        }
        div.login_Bg {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000000000;
            position: fixed;
            display: none;
            .login-Box {
                position: absolute;
                width: 400px;
                height: 400px;
                border-radius: 20px;
                background-color: #4D4949;
                @include HandV_center(45%,50%);
                box-shadow: 15px 15px 15px black;
                .sign-title {
                    font-size: 0px;
                    text-align: center;
                    display: inline-block;
                    margin: 15px 0;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    h1 {
                        cursor: pointer;
                        font-size: 30px;
                        text-align: center;
                        display: inline-block;
                        padding: 10px 20px;
                        &:hover {
                            transition: all 0.5s;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
                a {
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    border: 1px solid #fff;
                    width: 25px;
                    height: 25px;
                    display: block;
                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                    }
                    span.left {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    span.right {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
                .sign-in {
                    display: block;
                }
                .sign-up {
                    display: none;
                }
                .sign {
                    padding: 0 30px;
                    label {
                        font-weight: normal;
                        font-size: 16px;
                        color: #eee;
                        input {
                            background-color: transparent;
                            margin: 10px 0;
                            width: 100%;
                            border-radius: 5px;
                            height: 20px;
                            border: 1px solid #222;
                            &:focus{
                                background-color: #555;
                                box-shadow: inset 2px 2px 2px black;
                            }
                        }
                        .viveswitch {
                            cursor: pointer;
                            width: 20px;
                            margin-right: 10px;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: darkgrey;
                        font-size: 16px;
                    }
                    .submit {
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.move {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: yellow;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
    }
}

//登入按鈕
.submit1,.submit2 {
    background-color: #4d4949;
    cursor: pointer;
    border-radius: 16px;
    margin: 10px 0 0px 15px;
    padding: 5px 30px;
    box-shadow: 3px 3px 0.5rem black;
}

@include rwd(header) {
    header {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        background-image: url("./../image/index/background/black_background.png");
        height: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        div.nav_bar {
            max-width: 1440px;
            position: relative;
            transition: top 0.3s linear;
            color: whitesmoke;
            width: 100%;
            display: flex;
            div.logo {
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                a {
                    background-image: url(./../image/title/title_text_logo.png);
                    width: 300px;
                    height: 70px;
                    display: block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            div.fuction_btn_right {
                z-index: 999;
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                font: $sub_titleFs;
                i {
                    cursor: pointer;
                    margin-right: 10px;
                    font-style: normal;
                }
                div.points {
                    // display: flex;
                    display: none;
                    align-items: center;
                    margin-right: 20px;
                    font: $fontSize;
                }
                div.inbtn {
                    display: flex;
                    align-items: center;
                }
            }
            #menu_switch {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
                width: 35px;
                height: 36px;
                // border: 1px solid #fff;
                z-index: 100;
                span.switch_line {
                    width: 80%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    transition: 0.5s linear;
                    left: 50%;
                    transform: translateX(-50%);
                }
                span.btn_top {
                    top: 25%;
                }
                span.btn_mid {
                    top: 50%;
                }
                span.btn_bot {
                    top: 75%;
                }
                span.btn_top.change {
                    transform: rotate(45deg);
                    top: 50%;
                    left: 10%;
                }
                span.btn_mid.change {
                    opacity: 0;
                }
                span.btn_bot.change {
                    transform: rotate(-45deg);
                    top: 50%;
                    left: 10%;
                }
            }
        }
        div.title_list.move {
            left: 0;
        }
        div.title_list {
            width: 100%;
            height: calc(100vh - 70px);
            position: relative;
            background-color: $deepBgColor;
            transition: left 0.5s linear;
            left: -100%;
            z-index: 999;
            div.main_box {
                width: 100%;
                height: 100vh;
                position: relative;
                display: flex;
                justify-content: center;
                max-width: 1440px;
                margin: 0 auto;
                padding: 200px 0 100px 0;
                div.menu_btn {
                    span {
                        display: none;
                    }
                    span.horizontal {
                        width: 0px;
                        height: 0px;
                    }
                    span.vertical {
                        width: 0px;
                        height: 0px;
                    }
                }
                ul.mark_bar {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    li {
                        flex: 1;
                        margin: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            position: relative;
                            text-decoration: none;
                            color: black;
                            font-size: 20px;
                            color: rgba(230, 230, 230, 1);
                            letter-spacing: 3px;
                            display: inline-block;
                        }
                        i.icofont-cart {
                            order: 0;
                            position: relative;
                            right: -22%;
                            color: #8e8e8e;
                        }
                    }
                }
                form.fuction_search {
                    position: absolute;
                    left: 0px;
                    top: 25px;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: start;
                    width: 100%;
                    height: 50px;
                    background-color: #222;
                    padding: 5px 10px;
                    i.icofont-search {
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        transform: translateY(-50%);
                        font-weight: bold;
                        margin-right: 15px;
                        color: white;
                        font-size: $icon_fs;
                        z-index: 99;
                        cursor: pointer;
                    }
                    input {
                        background-color: transparent;
                        box-shadow: 0 0 3px rgba(255, 255, 255, 9);
                        padding-left: 50px;
                        color: white;
                        border: none;
                        border-radius: 30px;
                        width: 0;
                        transition: all 0.5s linear;
                        opacity: 0;
                    }
                    input.on {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
            div.login_Bg.open {
                display: block;
            }
            div.login_Bg {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                background-color: rgba(77, 73, 73, 0.8);
                z-index: 1;
                position: fixed;
                display: none;
                .login-Box {
                    // @include shadow-box-black();
                    position: absolute;
                    width: 400px;
                    height: 400px;
                    border-radius: 20px;
                    background-color: rgb(77, 73, 73);
                    box-shadow: 8px 8px 1rem black;
                    @include HandV_center(45%,
                    50%);
                    .sign-title {
                        font-size: 0px;
                        text-align: center;
                        display: inline-block;
                        margin: 15px 0;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        h1 {
                            cursor: pointer;
                            font-size: 30px;
                            text-align: center;
                            display: inline-block;
                            padding: 10px 20px;
                            &:hover {
                                transition: all 0.5s;
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                    a.X {
                        cursor: pointer;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        border: 1px solid #fff;
                        width: 25px;
                        height: 25px;
                        display: block;
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            height: 1px;
                            background-color: #fff;
                        }
                        span.left {
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                        span.right {
                            transform: translate(-50%, -50%) rotate(-45deg);
                        }
                    }
                    .sign-in {
                        display: block;
                    }
                    .sign-up {
                        display: none;
                    }
                    .sign {
                        padding: 0 30px;
                        label {
                            font-weight: normal;
                            font-size: 16px;
                            color: rgb(240, 240, 240);
                            input {
                                margin: 10px 0;
                                width: 100%;
                                border-radius: 5px;
                                height: 20px;
                                border: 1px solid rgba(0, 0, 0, 0.5);
                            }
                            .viveswitch {
                                width: 20px;
                                margin-right: 10px;
                            }
                        }
                        a {
                            text-decoration: none;
                            color: rgb(30, 126, 252);
                            font-size: 16px;
                        }
                        .submit {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@include rwd(medium) {
    header {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        background-image: url("./../image/index/background/black_background.png");
        height: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        div.nav_bar {
            max-width: 1440px;
            position: relative;
            transition: top 0.3s linear;
            color: whitesmoke;
            width: 100%;
            display: flex;
            z-index: 1;
            div.logo {
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                a {
                    background-image: url(./../image/title/title_text_logo.png);
                    width: 250px;
                    height: 70px;
                    display: block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            div.fuction_btn_right {
                z-index: 999;
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                font: $sub_titleFs normal;
                div.member_center {
                    display: none;
                    margin-right: 5px;
                    >a {
                        text-decoration: none;
                        color: #fff;
                        >p {
                            font-size: $sub_titleFs/2;
                        }
                    }
                    &.on {
                        display: block;
                    }
                }
                div.points {
                    // display: flex;
                    display: none;
                    align-items: center;
                    margin-right: 20px;
                    font-size: 15px;
                    i {
                        cursor: pointer;
                        margin-right: 10px;
                        font-style: normal;
                    }
                }
                div.inbtn {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                }
            }
        }
    }
}

@include rwd(small) {
    header {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        background-image: url("./../image/index/background/black_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        div.title_list {
            top: 70px;
            margin-top: 0px;
            div.main_box {
                padding: 100px 0 100px 0;
                ul.mark_bar {
                    i.icofont-cart {
                        order: 0;
                        right: 0;
                    }
                }
            }
        }
        div.nav_bar {
            max-width: 1440px;
            position: relative;
            transition: top 0.3s linear;
            height: 100%;
            color: whitesmoke;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 1;
            height: 70px;
            top: 50%;
            transform: translateY(-50%);
            div.logo {
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                height: inherit;
                a {
                    width: 300px;
                    height: 40px;
                    display: block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            div.fuction_btn_right {
                z-index: 50;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                height: 100%;
                font: $sub_titleFs normal;
                div.member_center {
                    display: none;
                    margin-right: 5px;
                    >a {
                        text-decoration: none;
                        color: #fff;
                        >p {
                            font-size: $sub_titleFs/2;
                        }
                    }
                    &.on {
                        display: block;
                    }
                }
                div.points {
                    // display: flex;
                    display: none;
                    align-items: center;
                    margin-right: 20px;
                    font-size: 15px;
                    i {
                        cursor: pointer;
                        margin-right: 10px;
                        font-style: normal;
                    }
                }
                div.inbtn {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                }
            }
        }
    }
}

@include rwd(mobile) {}