@import "../layout/mixins/allmixin";
@import "../layout/modules/btn";
header {
    background-color: #191919;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    div.nothing {
        @include header-balance();
        height: 50px;
    }
    ul.list-title {
        display: flex;
        align-items: center;
        li {
            margin: 0 25px;
        }
        li.logo > a {
            display: block;
            background-image: url(/dev/image/title/logo-image.png);
            background-position: center center;
            background-size: cover;
            width: 40px;
            height: 40px;
        }
        li a {
            text-decoration: none;
            color: black;
            font-size: 20px;
            color: rgba(230, 230, 230, 1);
        }
    }
    div.fuction {
        @include header-balance();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        cursor: pointer;
        div {
            height: 25px;
        }
    }
    div.login-Bg.on {
        display: block;
    }
    div.login-Bg {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        position: fixed;
        display: none;

        .login-Box {
            @include shadow-botton-black();
            position: absolute;
            width: 400px;
            height: 400px;
            border-radius: 10px;
            background-color: $color;

            @include HandV_center(35%, 50%);
            .sign-title {
                font-size: 0px;
                text-align: center;
                display: inline-block;
                margin: 15px 0;
                transform: translateX(50%);
                h1 {
                    cursor: pointer;
                    font-size: 30px;
                    text-align: center;
                    display: inline-block;
                    padding: 10px 20px;
                    &:hover {
                        transition: all 0.5s;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            div.X {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                border: 1px solid #000;
                width: 25px;
                height: 25px;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 1px;
                    background-color: black;
                }
                span.left {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                span.right {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            .sign-in {
                display: block;
            }
            .sign-up {
                display: none;
            }
            .sign {
                padding: 0 30px;
                label {
                    font-weight: normal;
                    font-size: 16px;
                    input {
                        margin: 10px 0;
                        width: 100%;
                        border-radius: 5px;
                        height: 20px;
                        border: 1px solid rgba(0, 0, 0, 0.5);
                    }
                    .viveswitch {
                        width: 20px;
                        margin-right: 10px;
                    }
                }
                a {
                    text-decoration: none;
                    color: rgb(30, 126, 252);
                    font-size: 16px;
                }
                .submit {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}
