<footer>
    <div class="main_footer">
        <ul class="list_iocn">
            <li><i class="icofont icofont-instagram"></i></li>
            <li><i class="icofont icofont-facebook"></i></li>
            <li><i class="icofont icofont-twitter"></i></li>
            <li><i class="icofont icofont-pinterest"></i></li>
            <li><i class="icofont icofont-youtube-play"></i></li>
        </ul>
        <ul class="list_tilte">
            <li><a href="./game.html">防疫大知識王</a></li>
            <li><a href="./forum.html">討論區</a></li>
            <li><a href="./diseaseHistory.html">傳染病介紹</a></li>
            <li><a href="./latest-news.html">最新消息</a></li>
            <li><a href="./Epidemic-shop.html">防疫商店</a></li>
            <li><a href="./member.html">會員中心</a></li>
            <li><a href="./Epidemic-prevention-SOP.html">防疫SOP</a></li>
        </ul>
        <ul class="list_media">
            <li><i class="icofont icofont-brand-bbc"></i></li>
            <li><i class="icofont icofont-brand-cnn"></i></li>
            <li><i class="icofont icofont-brand-flikr"></i></li>
            <li><i class="icofont icofont-brand-amazon"></i></li>
            <li><i class="icofont icofont-brand-google"></i></li>
        </ul>
    </div>
</footer>
<script src="./js/MemberLoginShow.js"></script>
<script src="./js/var.js"></script>

