<footer>
    <div class="footer">
        <ul class="list-left">
            <li>防疫大富翁
                <a href="">規則說明</a>
            </li>
            <li>討論區
                <a href="">新增文章</a>
                <a href="">熱搜排行</a>
            </li>
            <li>傳染病介紹
                <a href="">法定傳染病</a>
                <a href="">依照傳染途徑</a>
            </li> 
            <li>最新消息
                <a href="">國內疫情確診分佈</a>
                <a href="">國際醫療時事</a>
                <a href="">國內醫療時事</a>
                <a href="">醫療政令</a>
                <a href="">醫療新聞</a>
            </li>
            <li>防疫商店
                <a href="">虛擬展示功能</a>
                <a href="">熱門商品</a>
                <a href="">購物車</a>
            </li>
            <li>會員中心
                <a href="">會員註冊</a>
                <a href="">訂單查詢</a>
                <a href="">忘記密碼</a>
                <a href="">點數查詢</a>
            </li>
            <li>防疫SOP
                <a href="">肺炎自我評估</a>
            </li>
        </ul>
        <ul class="list-right">
            <li>關注我們</li>
            <li>
                <ul class="icon">
                    <li><a class="ig" href="">ig</a></li>
                    <li><a class="fb" href="">fb</a></li>
                    <li><a class="tw" href="">tw</a></li>
                    <li><a class="pin" href="">pin</a></li>
                    <li><a class="yt" href="">yt</a></li>
                </ul>
            </li>
            <li>訂閱我們</li>
            <form action="">
                <input class="email"type="text" placeholder="E-mail">
                <input class="email-on" type="submit" value="訂閱">
            </form>
        </ul>
    </div>
</footer>