<header>
    <div class="nothing"></div>
    <ul class="list-title">
        <li><a href="/dest/Entertaining/Entertaining.html">防疫知識王</a></li>
        <li><a href="/dest/forum/forum.html">討論區</a></li>
        <li><a href="/dest/Infectious-Diseases/Infectious-Diseases.html">傳染病事記</a></li>
        <li class="logo"><a href="/dest/index/index.html"></a></li>
        <li><a href="/dest/latest-news/latest-news.html">最新消息</a></li>
        <li><a href="/dest/Epidemic-prevention-SOP/Epidemic-prevention-SOP.html">防疫SOP</a></li>
        <li><a href="/dest/Epidemic-shop/Epidemic-shop.html">防疫商店</a></li>
    </ul>
    <div class="fuction">
        <div class="up" id="login-btn">login</div>
        <div class="down">down</div>
    </div>
</header>