<header id="myMeun">

    <div class="nav_bar">
        <div id="logo" class="logo">
            <a href="./homepage.html"></a>
        </div>
        <div class="fuction_btn_right">
            <div class="member_center"><a href="./member.html">
                    <p>會員中心</p>
                </a></div>
            <div class="inbtn">
                <i id="login_btn"><a href="#">登入</a></i>
            </div>
        </div>
        <div id="menu_switch">
            <span class="switch_line btn_top"></span>
            <span class="switch_line btn_mid"></span>
            <span class="switch_line btn_bot"></span>
        </div>
    </div>


    <div class="title_list" id="menu_list">
        <div class="main_box">

            <div class="menu_btn">
                <span class="horizontal"></span>
                <span class="vertical"></span>
            </div>
            <ul class="mark_bar">
                <!-- <span id="move_var"></span> -->
                <i class="icofont icofont-cart" id="cart"></i>
                <li class="changePage"><a href="./latest-news.html">最新消息</a></li>
                <li class="changePage"><a href="./forum.html">討論區</a></li>
                <li class="changePage"><a href="./diseaseHistory.html">傳染病事記</a></li>
                <li class="changePage"><a href="./Epidemic-prevention-SOP.html">防疫SOP</a></li>
                <li class="changePage "><a href="./game.html">防疫知識王</a></li>
                <li class="changePage"><a href="./Epidemic-shop.html">防疫商店</a></li>
            </ul>
            <!-- <form class="fuction_search" action="#">
                <i class="icofont icofont-search"></i>
                <input class="input_box" typne="text" name="search" id="search">
            </form> -->
        </div>

        <div class="login_Bg" id="loginBg">
            <div class="login-Box">
                <div class="sign-title">
                    <h1 id="sign-in">登入</h1>
                    <h1 id="sign-up">註冊</h1>
                </div>
                <a href="javascript:void(0)" class="X" id="btnX">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <form class="sign sign-in">

                    <label for="emeEmail">登入信箱<br>
                        <input id="emeEmail" class="input-data" type="email" name="emeEmail">
                    </label><br>

                    <label for="emePaw">登入密碼<br>
                        <input id="emePaw" class="input-data" type="password" name="emePaw"><br>
                        <i class="viveswitch icofont icofont-eye-blocked"></i>
                    </label>
                    <br>
                    <input class="submit1" type="button" name="login" value="登入">
                </form>

                <form class="sign sign-up">
                    <label for="upEmail">註冊信箱<br>
                        <input id="RG_Email" class="input-data" type="email" name="upEmail">
                    </label><br>

                    <label for="upName">註冊名稱<br>
                        <input id="RG_Name" class="input-data" type="text" name="upName" maxlength="10">
                    </label><br>

                    <label for="upPaw">註冊密碼<br>
                        <input id="RG_Pwd" class="input-data" type="password" name="upPaw"><br>
                        <i id='viveswitch' class="viveswitch icofont icofont-eye-blocked"></i>
                    </label>
                    <br>
                    <input class="submit2" type="button" name="login" value="註冊">
                </form>
            </div>
        </div>
    </div>
    <script src="./js/registered.js"></script>
</header>