<header>
    <div class="nothing"></div>
    <ul class="list-title">
        <li><a href="/dest/Entertaining/Entertaining.html">防疫知識王</a></li>
        <li><a href="/dest/forum/forum.html">討論區</a></li>
        <li><a href="/dest/Infectious-Diseases/Infectious-Diseases.html">傳染病事記</a></li>
        <li class="logo"><a href="/dest/index/index.html"></a></li>
        <li><a href="/dest/latest-news/latest-news.html">最新消息</a></li>
        <li><a href="/dest/Epidemic-prevention-SOP/Epidemic-prevention-SOP.html">防疫SOP</a></li>
        <li><a href="/dest/Epidemic-shop/Epidemic-shop.html">防疫商店</a></li>
    </ul>
    <div class="fuction">
        <div class="up" id="login-btn">login</div>
        <div class="down">down</div>
    </div>
    <div class="login-Bg" id="loginBg">
        <div class="login-Box">
            <div class="sign-title">
                <h1 id="sign-in">登入</h1>
                <h1 id="sign-up">註冊</h1>
            </div>
            <div class="X" id="btnX">
                <span class="left"></span>
                <span class="right"></span>
            </div>
            <form class="sign sign-in" action="/dest/index/sign-in.php" method="GET">

                <label for="emeEmail">登入信箱<br>
                    <input class="input-data" type="email" name="emeEmail">
                </label><br>

                <label for="emePaw">登入密碼<br>
                    <input class="input-data" type="password" name="emePaw"><br>
                    <input class="viveswitch" type="checkbox">顯示密碼
                </label>
                <a href="">忘記密碼</a>
                <br>
                <input class="submit" type="submit" name="login" value="登入">
            </form>

            <form class="sign sign-up" action="/dest/index/sign-up.php" method="GET">
                <label for="upEmail">註冊信箱<br>
                    <input class="input-data" type="email" name="upEmail">
                </label><br>

                <label for="upPaw">註冊密碼<br>
                    <input class="input-data" type="password" name="upPaw"><br>
                    <input class="viveswitch" type="checkbox" id="vivePsw">顯示密碼
                </label>
                <a href="">忘記密碼</a>
                <br>
                <input class="submit" type="submit" name="login" value="登入">
            </form>
        </div>
    </div>
</header>