//Sop Process One
* {
    padding: 0;
    margin: 0;
}

.sop-All {
    // width: 100vw;
    height: 681px;
    background: url("../image/sopImg/black_background.png") no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;

    .content-container {

        width: 100%;
        height: 30%;

        .content-box {
            width: 100%;
            height: 100%;

            >h1 {

                width: 20%;
                height: 20%;
                line-height: 1.5;
                letter-spacing: 2px;
                text-align: center;
                color: #fff;
                font-size: 24px;
                // background-color: #f0f;
                margin: 0 auto;
                margin-top: 30px;
            }

            >p {
                padding: 20px 15px;
                width: 50%;
                height: 20%;
                font-size: 20px;
                color: #fff;
                margin: 0 auto;
                line-height: 1.5;
                letter-spacing: 1px;
                text-align: center;
            }
        }


    }

    .show_sop {
        width: 100%;
        height: 50%;

        .Sop_Process {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: 100%;
            margin: 0 auto;

            // background-color: #ccc;
            .container_sop {
                overflow: hidden;
                width: 30%;
                height: 100%;
                border-radius: 50%;
                // background-color: rgb(43, 25, 25);
                // border: 20px solid #fff;
            }
        }
    }
}




.Sop-plane {
    // padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 285px;
    position: relative;
    z-index: 10;

    .worldwide {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
    }

    >.cancel {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: linear 0.5s;
    }

    >.General_Office {
        position: absolute;
        left: -100%;
        transform: scale(1) rotate(0deg);
        width: 100%;
        height: 80%;
        opacity: 0;
        transition: linear .5s;
    }

    // &:hover >.worldwide {
    //     width: 100%;
    //     height: 100%;
    //     transition: linear .5s;
    //     transform: translateX(-50%) rotate(45deg);
    // }
    &:hover>.General_Office {
        width: 100%;
        height: 80%;
        transition: ease .5s;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) scale(.5) rotate(45deg);
    }

    &:hover>.cancel {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        transition: ease 0.5s;
    }

}



// Sop Process two



.sop-thermometer {
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: relative;
    background:url("/dev/image/sopImg/3d.png");
    background-size: contain;
    // overflow: hidden;
    z-index: 10;

    >.sop-thermometer-img {
        display: inline-block;
        width: 50%;
        height: 65%;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    >.pos-thermometer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 10%;
        left: 60%;
        

        >.thermometer_container {
            width: 30%;
            height: 70%;
            position: absolute;


            >.thermometer {
                border: 5px solid #5C525F;
                border-bottom: transparent;
                box-sizing: border-box;
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 26%;
                left: 20px;
                width: 40px;
                height: 169px;
                border-radius: 50px 50px 0 0;
                background: #FFF;

                >.stem {
                    background: #EFEFEF;
                    position: relative;
                    display: block;
                    width: 20px;
                    height: 161px;
                    border-radius: 10px 10px 0 0;
                    margin: 5px auto;



                    >.fluid {
                        background: rgb(248, 4, 4);
                        display: block;
                        width: 100%;
                        height: 2%;
                        border-radius: 25px 25px 0 0;
                        position: absolute;
                        bottom: -4%;

                    }
                }

            }

            .base {
                box-shadow: 0 0 0 5px #FFF, 0 0 0 10px #5C525F;
                background: rgb(248, 4, 4);
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 60px;
                color: #FFF;
                position: absolute;
                bottom: 0;
                left: 10px;
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}





// Sop Process three


.wash-hand {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background:url("/dev/image/sopImg/s.png");
    background-size: cover;
    >.sop-hand1 {
        width: 45%;
        position: absolute;
        z-index: -3;
        bottom: 5%;
        left: 18%;
        animation-play-state: paused;
        animation-name: handmove1;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;

        animation-iteration-count: infinite;
    }

    >.sop-hand2 {
        width: 45%;
        position: absolute;
        z-index: -1;
        bottom: 5%;
        left: 18%;
        animation-play-state: paused;
        animation-name: handmove2;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    &:hover .sop-hand1 {
        animation-play-state: running;
    }

    &:hover .sop-hand2 {
        animation-play-state: running;
    }

    >.bubble1 {
        position: absolute;
        z-index: -2;
        width: 33%;
        bottom: 2%;
        left: 35%;
        animation: 1s out linear infinite alternate-reverse paused;
    }

    &:hover .bubble1 {
        animation-play-state: running;
    }

    >.sop-hand-water-1 {
        position: absolute;
        width: 5%;
        z-index: -2;
        top: 20%;
        right: 42%;
        opacity: 0;

        &.-w1 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.9s;
            animation-iteration-count: infinite;
        }
    }

    >.sop-hand-water-2 {
        position: absolute;
        width: 5%;
        top: 20px;
        z-index: -2;
        right: 42%;
        opacity: 0;

        &.-w2 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.7s;
            animation-iteration-count: infinite;
        }
    }

    >.sop-hand-water-3 {
        position: absolute;
        width: 5%;
        top: 20px;
        z-index: -2;
        right: 42%;
        opacity: 0;

        &.-w3 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
        }
    }

    >.sop-hand-faucet {
        position: absolute;
        right: 20%;
        top: 10%;
        width: 30%;
    }

}




@keyframes out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes handmove1 {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes handmove2 {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes watermove1 {
    0% {
        top: 40%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 70%;
        opacity: 0;
    }
}

@keyframes watermove2 {
    0% {
        top: 50%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 70%;
        opacity: 0;
    }

    0% {
        top: 50%;
        opacity: 0;
    }
}
