.merge-game-Carousel {
    // width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background-color: #f0f;

    //遊戲頁面
    .game-container {
        width: 100%;
        height: 100%;
        // padding: 20px;
        // position: relative;

        >.game-background {
            width: 100%;
            height: 100%;

            >.context {
                width: 50%;
                margin: 0 auto;
                padding: 30px 0;

                >p {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    color: #000;
                    letter-spacing: 1px;
                    line-height: 1.5;
                }
            }
            .gameImgBox{
                width: 70%;
                height: 70%;
                margin: 0 auto;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            >.game-btn {
                width: 150px;
                height: 50px;
                margin: 0 auto;
                border-radius: 40%;

                >a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 0;
                    border-radius: 50px;
                    background-color: #e5e5e5;
                    margin: auto;
                    height: 100%;
                    width: 100%;
                    box-shadow:
                        rgba(70, 70, 70, 0.4) 3px 3px 4px,
                        rgba(255, 255, 255, 1) -3px -3px 15px;
                    text-align: center;
                    outline: none;
                    border: none;
                    

                    &:hover {
                        box-shadow:
                            inset rgba(70, 70, 70, 0.4) 3px 3px 4px,
                            inset rgba(255, 255, 255, 1) -3px -3px 4px;
                    }

                    >p.btn-text {
                        margin: 0;
                        font: bold 24px arial, sans-serif;
                        line-height: 50px;
                        background-color: #dedede;
                        color: #414141;
                        text-shadow:
                            rgba(70, 70, 70, 0.4) 2px 2px 5px,
                            rgba(255, 255, 255, 1) -2px -2px 5px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                    }

                    &:hover .btn-text {
                        text-shadow:
                            rgba(70, 70, 70, 0.4) 2px 2px 4px,
                            rgba(255, 255, 255, 1) -2px -2px 4px;
                        font-size: 24px;
                        color: #000;
                    }
                }
            }
        }
    }
}


@include rwd(desktop) {
    
}
@include rwd(medium) {
    
}
@include rwd(small) {
    
}
@include rwd(mobile) {
    .merge-game-Carousel .game-container > .game-background{
        background-size: contain;
    }

    .merge-game-Carousel .game-container > .game-background > .context{
        width: 80%;
    }
    .merge-game-Carousel .game-container > .game-background .gameImgBox{
        width: 100%;
    }

    .merge-game-Carousel .game-container > .game-background > .game-btn > a{
        height: 90%;
    }
    .merge-game-Carousel .Carousel > .title{
        display: none;
    }
    .merge-game-Carousel .Carousel > .title p{
        font-size: $sub_titleFs;
    }
    
}
