section.Earth {
    width: 100%;
}

.stars,
.twinkling,
.clouds {
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    position: relative;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) no-repeat top center;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    >.areaSlide{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 25%;
        // background-color: #f0f;
        z-index: 1;
    }
    >.global-people {
        width: 100%;
        height: 10%;
        position: absolute;
        // top: 0;
        background-color: rgba(236, 213, 213, 0.486);

        >ul {
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            // flex-direction: row;
            justify-content: space-around;
            align-items: center;
            

            >li {
                flex: 1;
                text-align: center;
                width: 100%;
                color: #fff;
                // background-color: #00f;
                font-size: $sub_titleFs;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 2px;

                >div {
                    >p {
                        display: inline-block;
                        font-size: $sub_titleFs;
                        font-weight: 700;
                        line-height: 1.5;
                        letter-spacing: 2px;
                        color: $color;

                    }

                }

                &:nth-child(2)>div>p {
                    color: red;
                }
            }

        }
    }

    .Showtable {
        position: absolute;
        right: -50%;
        bottom: 10%;
        list-style: none;

        li {
            padding: 15px 15px;
            background-color: #333;
            color: #fff;
            font-size: $sub_titleFs;
            // font-family: Verdana;
        }
    }

    .clouds {
        background: transparent url("../image/earth/cloud_1.png") repeat top center;
        background-size: cover;
        z-index: 3;
        animation: move-clouds-back 200s linear infinite;

        #globe {
            cursor: pointer;
        }
    }
}


.system {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(75deg) rotateY(-30deg);
    transform: rotateX(75deg) rotateY(-30deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.planet,
.satellite-orbit,
.satellite {
    position: absolute;
    top: 50%;
    left: 50%;


    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}



@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}


@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}


@include rwd(desktop) {
    .stars .Showtable{
        bottom: 0;
    }
}
@include rwd(medium) {
    
}
@include rwd(small) {
}
@include rwd(mobile) {
    .stars > .global-people > ul > li{
     font-size: $main_TextFs;  
     letter-spacing: 0px;
    }
    .stars > .global-people > ul > li > div > p{
        font-size: $main_TextFs; 
    }
    .stars .Showtable li{
        font-size: $main_TextFs; 
    }
   
}
