//Sop Process One
* {
    padding: 0;
    margin: 0;
}

.sop-All {
    // width: 100vw;
    // height: 510px;
    background: url("../../dest/image/sopImg/black_background.png") no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    
    

    .content-container {

        width: 100%;
        // height: 30%;

        .content-box {
            width: 100%;
            // height: 100%;

            >h1 {

                width: 50%;
                // height: 20%;
                // font-family: 'Thonburi';
                line-height: 1.5;
                letter-spacing: 2px;
                text-align: center;
                color: #fff;
                font-size: 24px;
                // background-color: #f0f;
                margin: 0 auto;
                margin-top: 30px;
            }

            >p {
                padding: 20px 15px;
                width: 80%;
                height: 20%;
                font-size: 20px;
                color: #fff;
                margin: 0 auto;
                line-height: 1.5;
                letter-spacing: 1px;
                text-align: center;
            }
        }


    }

    .show_sop {
        width: 100%;

        @include rwd(medium) {
            height: 40%;
        }

        .Sop_Process {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            // height: 100%;
            
            margin: 0 auto;
            
            @include rwd(mobile) {
                display: block;
                // height: px;
            }
            .container_sop {
                overflow: hidden;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                @include rwd(medium) {
                    width: 250px;
                    height: 250px;
                }

                @include rwd(small) {
                    width: 200px;
                    height: 200px;
                }

                @include rwd(mobile) {
                    width: 150px;
                    height: 150px;
                    
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    
                }
                
            }
        }
    }
}

.Sop-plane {
    // padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;

    .worldwide {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
    }

    >.cancel {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: linear 0.5s;
    }


    >.General_Office {
        position: absolute;
        width: 100%;
        height: 80%;

        left: -100%;
        // transform: scale(1) rotate(0deg);
        // opacity: 0;
        // transition: linear .5s;
        animation: office 1.5s linear 0s infinite normal none running;
        // animation: office;
        // animation-duration: 0.5s;
        // animation-iteration-count: infinite;
    }
    @keyframes office {
        0% {
            left: -100%;
            transform: scale(1) rotate(0deg);
            opacity: 0;
        }

        50% {
            left: 50%;
            opacity: 1;
            transform: translateX(-50%) scale(.5) rotate(45deg);
        }

        100% {
            left: 50%;
            opacity: 1;
            transform: translateX(-50%) scale(.5) rotate(45deg);
        }
    }
    &:hover >.worldwide {
        width: 100%;
        height: 100%;
        transition: linear .5s;
        transform: translateX(-50%) rotate(45deg);
    }
    // &:hover>.General_Office {
    //     width: 100%;
    //     height: 80%;
        // transition: ease .5s;
        // left: 50%;
        // opacity: 1;
        // transform: translateX(-50%) scale(.5) rotate(45deg);
    // }

    &:hover>.cancel {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        transition: ease 0.5s;
    }

}



// Sop Process two
.sop-thermometer {
    width: 100%;
    height: 100%;
    
    transform: scale(1);
    position: relative;
    background:url("/dev/image/sopImg/3d.png");
    background-size: contain;
    z-index: 10;
    // @include rwd(mobile) {
    //     width: 150px;
    //     height: 150px;
    //     border-radius: 50%;
    //     display: inline-block;
    //     overflow: hidden;
    // }
    >.sop-thermometer-img {
        display: inline-block;
        width: 35%;
        height: 52%;
        position: absolute;
        top: 40%;
        left: 12%;
    }

    >.pos-thermometer {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 10%;
        left: 60%;
        

        >.thermometer_container {
            width: 30%;
            height: 70%;
            position: absolute;


            >.thermometer {
                border: 5px solid #5C525F;
                border-bottom: transparent;
                box-sizing: border-box;
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 31%;
                left: 51%;
                width: 74%;
                height: 65%;
                border-radius: 50px 50px 0 0;
                background: #FFF;

                @include rwd(mobile) {
                    bottom: 33%;
                }

                >.stem {
                    background: #EFEFEF;
                    position: relative;
                    display: block;
                    width: 76%;
                    height: 98%;
                    border-radius: 10px 10px 0 0;
                    margin: 5px auto;


                    >.fluid {
                        background: rgb(248, 4, 4);
                        display: block;
                        width: 100%;
                        height: 2%;
                        border-radius: 25px 25px 0 0;
                        position: absolute;
                        bottom: -4%;

                    }
                }

            }

            .base {
                box-shadow: 0 0 0 5px #FFF, 0 0 0 10px #5C525F;
                background: rgb(248, 4, 4);
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 60px;
                color: #FFF;
                position: absolute;
                bottom: 1%;
                left: 24%;
                width: 131%;
                height: 28%;
                border-radius: 100%;
                @include rwd(small) {
                    line-height: 35px;
                    font-size: 12px;
                }
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}





// Sop Process three


.wash-hand {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background:url("/dev/image/sopImg/s.png");
    background-size: cover;
    // @include rwd(mobile) {
    //     width: 150px;
    //     height: 150px;
    //     border-radius: 50%;
    //     display: inline-block;
    //     overflow: hidden;
    // }
    >.sop-hand1 {
        width: 45%;
        position: absolute;
        z-index: -3;
        bottom: 5%;
        left: 18%;
        // animation-play-state: paused;
        animation-name: handmove1;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;

        animation-iteration-count: infinite;
    }

    >.sop-hand2 {
        width: 45%;
        position: absolute;
        z-index: -1;
        bottom: 5%;
        left: 18%;
        // animation-play-state: paused;
        animation-name: handmove2;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    // &:hover .sop-hand1 {
    //     animation-play-state: running;
    // }

    // &:hover .sop-hand2 {
    //     animation-play-state: running;
    // }

    >.bubble1 {
        position: absolute;
        z-index: -2;
        width: 33%;
        bottom: 2%;
        left: 35%;
        animation: 1s out linear infinite alternate-reverse;
    }

    // &:hover .bubble1 {
    //     animation-play-state: running;
    // }

    >.sop-hand-water-1 {
        position: absolute;
        width: 5%;
        z-index: -2;
        top: 20%;
        right: 42%;
        opacity: 0;

        // &.-w1 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.9s;
            animation-iteration-count: infinite;
        // }
    }

    >.sop-hand-water-2 {
        position: absolute;
        width: 5%;
        top: 20px;
        z-index: -2;
        right: 42%;
        opacity: 0;

        // &.-w2 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.7s;
            animation-iteration-count: infinite;
        // }
    }

    >.sop-hand-water-3 {
        position: absolute;
        width: 5%;
        top: 20px;
        z-index: -2;
        right: 42%;
        opacity: 0;

        // &.-w3 {
            animation-play-state: running;
            animation-name: watermove1;
            animation-duration: 1s;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
        // }
    }

    >.sop-hand-faucet {
        position: absolute;
        right: 20%;
        top: 10%;
        width: 30%;
    }

}




@keyframes out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes handmove1 {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes handmove2 {
    0% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes watermove1 {
    0% {
        top: 40%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 70%;
        opacity: 0;
    }
}

@keyframes watermove2 {
    0% {
        top: 50%;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        top: 70%;
        opacity: 0;
    }

    0% {
        top: 50%;
        opacity: 0;
    }
}


.pointer {
    // border: 1px solid red;
    text-align: center;
    margin: 20px 0;
    .sop-link {
        width: 30px;
        height: 30px;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            transform: rotate(90deg);
            vertical-align: middle;
            
        }
        
    }
    p {
        display: inline-block;    
        color: white;
        a {
            text-decoration: none;
        }
        a:active, a:hover, a:link, a:visited {
            color: white;
        }
    }
}
