@import "../LAYOUT/base/reset";
@import "../LAYOUT/base/fonts";
@import "../LAYOUT/mixins/allmixin";
@import "../LAYOUT/modules/btn";

body.Back_Edn {
    overflow-y: hidden;
    margin: 0 auto;
    ::-webkit-scrollbar {
        display: none;
    }
    box-sizing: border-box;
    color: white;
    background-color: $deepBgColor;
    header.Back_End_Header {
        background-color: #333333;
        height: 60px;
        width: 100%;
        min-width: 1440px;
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            a {
                background-image: url("../../dest/image/title/logo-text.png");
                width: 300px;
                height: 40px;
                display: block;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    main.information {
        min-width: 1440px;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        display: flex;
        height: calc(100vh - 70px);
        aside {
            &::before {
                position: absolute;
                top: 100px;
                left: 300px;
                display: block;
                content: "";
                width: 1px;
                height: 80%;
                background-color: #fff;
            }
            flex: 2;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            div.p_title {
                position: relative;
                height: 200px;
                min-height: 200px;
                div.profile {
                    @include HandV_center(40%, 50%);
                    box-shadow: 2px 2px 0 #fff;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    background-image: url("../image/Back_End/Ellipse_1.png");
                    background-position: center center;
                }
                p.p_title_name {
                    text-align: center;
                    @include HandV_center(80%, 50%);
                }
            }
            ul.mgmt_item {
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 50px;
                    background-color: yellow;
                    z-index: -1;
                    transition: linear 0.3s;
                    &::after {
                        position: absolute;
                        right: -25px;
                        transform: rotate(45deg);
                        display: block;
                        content: "";
                        width: 50px;
                        height: 50px;
                        background-color: $deepBgColor;
                    }
                }
                li.mgmt_title {
                    display: flex;
                    width: 100%;
                    padding: 15px 0;
                    padding-left: 25%;
                    font-size: 20px;
                    i {
                        margin-right: 15px;
                    }
                    i,
                    h1 {
                        color: white;
                        cursor: pointer;
                    }
                    i.on,
                    h1.on {
                        color: black;
                    }
                }
            }
        }
        section.mgmt_data {
            width: 100%;
            height: 90%;
            flex: 8;
            position: relative;
            div#create_btn {
                position: absolute;
                font-size: 20px;
                display: block;
                padding: 0 20px;
                height: 40px;
                width: 150px;
                top: 10px;
                right: 90px;
                z-index: 11;
                background-color: #333333;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                transition: all 0.3s linear;
                &:hover {
                    box-shadow: inset -5px -5px #444;
                    background-color: white;
                    color: #333333;
                }
                &:active {
                    box-shadow: inset 5px 5px #444;
                }
            }
            h1#tag_title {
                position: absolute;
                font-size: $main_titleFs;
                background-color: $deepBgColor;
                display: block;
                padding: 20px 0 0 95px;
                width: 100%;
                height: 55px;
                z-index: 10;
                &::before {
                    position: absolute;
                    top: 30px;
                    left: 250px;
                    display: block;
                    content: "";
                    width: 55%;
                    height: 1px;
                    background-color: #fff;
                }
            }
            ul.mgmt_data_item {
                padding-top: 50px;
                width: 100%;
                height: 100%;
                overflow: scroll;
                li.data {
                    width: 100%;
                    ul {
                        > li.edit_focus {
                            cursor: pointer;
                            transition: all 0.3s linear;
                            &:hover {
                                border: 5px solid #fff;
                                div#edit_cancel.on {
                                    width: 100px;
                                    opacity: 1;
                                }
                            }
                        }
                        div#edit_cancel {
                            position: absolute;
                            overflow: hidden;
                            white-space: nowrap;
                            opacity: 0;
                            left: 1px;
                            width: 0px;
                            height: 190px;
                            background-color: red;
                            transition: all 0.3s linear;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;
                        }
                    }
                }
                @import "../sass/Back_End/_BE_member.scss";
                @import "../sass/Back_End/_BE_Report.scss";
                @import "../sass/Back_End/_BE_forum.scss";
                @import "../sass/Back_End/_BE_news.scss";
                @import "../sass/Back_End/_BE_game.scss";
                @import "../sass/Back_End/_BE_care.scss";
                @import "../sass/Back_End/_BE_product.scss";
            }
            div.edit_fuc {
                position: absolute;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 20px;
                width: 100%;
                padding: 0 250px;
                height: calc(20vh - 70px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $deepBgColor;
                span {
                    cursor: pointer;
                    padding: 10px 20px;
                    transition: all 0.3s linear;
                    background-color: #333333;
                    &:hover {
                        box-shadow: inset -5px -5px #444;
                        background-color: white;
                        color: #333333;
                    }
                    &:active {
                        box-shadow: inset 3px 3px 0px #444;
                    }
                }
            }
        }
    }
}
