@import "../LAYOUT/base/var";

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}


ol,
ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

/*內文*/
/*內文標題*/
/*section小標題*/
/*整頁標題*/
/*主頁box標題*/
/*主頁box日期*/
@-webkit-keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

@-moz-keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

@keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

.animation-move {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: animation-move;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: forward;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: animation-move;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: forward;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: animation-move;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: forward;
}



/*內文*/
/*內文標題*/
/*section小標題*/
/*整頁標題*/
/*主頁box標題*/
/*主頁box日期*/
@-webkit-keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

@-moz-keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

@keyframes animation-move {
    0% {
        -webkit-transform: translate(0px, 100px);
        -moz-transform: translate(0px, 100px);
        -ms-transform: translate(0px, 100px);
        transform: translate(0px, 100px);
    }

    100% {
        -webkit-transform: translate(100px, 200px);
        -moz-transform: translate(100px, 200px);
        -ms-transform: translate(100px, 200px);
        transform: translate(100px, 200px);
    }
}

.animation-move {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: animation-move;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: forward;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: animation-move;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    -moz-animation-direction: forward;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: animation-move;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: forward;
}

@font-face {
    font-family: GN-Aki-iro_Sesami_Cookies, HelveticaNeue;
    src: url(/dev/layout/fonts/GN-Aki-iro_Sesami_Cookies.ttf);
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(/dev/layout/fonts/helveticaneue/HelveticaNeue.ttf);
}

@font-face {
    font-family: "SilomBol";
    src: url(/dev/layout/fonts/SilomBol.ttf);
}

@font-face {
    font-family: "SilomBol2";
    src: url(/dev/layout/fonts/SilomBol2.ttf);
}

@font-face {
    font-family: "fontscom_fonts_ADPX";
    src: url(/dev/layout/fonts/fontscom_fonts_ADPX.ttf);
}

@font-face {
    font-family: impact;
    src: url(/dev/layout/fonts/impact/impact.ttf);
}

@font-face {
    font-family: "Times-Sans-Serif";
    src: url(/dev/layout/fonts/Times-Sans-Serif/Times-Sans-Serif.ttf);
}

@font-face {
    font-family: "Lobster1";
    src: url(/dev/layout/fonts/lobster/Lobster1.otf);
}

@font-face {
    font-family: "Trajan-Pro-Regular";
    src: url(/dev/layout/fonts/Trajan_Pro_Regular/Trajan-Pro-Regular.ttf);
}

@font-face {
    font-family: "LinotypeZapfino_One";
    src: url(/dev/layout/fonts/Zapfino-Font-Family/LinotypeZapfino-One/LinotypeZapfino_One.ttf);
}

/* *{
    margin: 0%;
    display: inline-block;
    box-sizing: border-box;
    padding:0%;
}  */
div.bread_crumbs {
    width: 100%;
    text-align: left;
    // border: 1px solid white;
    box-sizing: border-box;
    padding: 15px 0 15px 80px;
    font-size: 20px;
    color: rgb(155, 155, 155);
}

div.bread_crumbs a {
    text-decoration: none;
    color: unset;
}

div.bread_crumbs a span {
    font-size: 18px;
    color: rgb(207, 207, 207);
    // border: white 1px solid;
    padding: 0 5px;
    margin: 0 10px;
}


.breadcrumb {
    background-color: none;
    background-image: url(../../dest/image/btn_img_background/background-color.jpg);
    border-radius: 0%;
    margin: 10px 0 0 0%;
}

// .breadcrumb-item>a,
// ::after,
// ::before {
//     // color: grey;
//     /* position: relative;
//     left:50%; */
// }

/*---------------------------------------------*/
.main {
    position: relative;
    margin: 0px 0 0 0%;
    box-sizing: border-box;
    display: inline-block;
    background-image: url(../../dest/image/btn_img_background/spanishflue.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 1000px;

}

/*-----------------------------------------------*/
.history_container {
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 50px;
    width: 78%;
    margin: 20px 0 0 20%;
}

.history_subtitle::before {
    content: "";
    background: #040404;
    height: 1px;
    width: 60%;
    position: absolute;
    top: 15px;
    left: 20%;
}

.history_container>.history_sextion1>.history_subtitle {
    font-family: Toppan Bunkyu Midashi Mincho Extrabold;
    font-size: 35px;
    position: relative;
}

.history_container>.history_sextion1>.history_title {
    font-family: Monoton;
    font-size: 40px;
}

/* bookstyle---------------------------------------------------*/
/* .slick-initialized .slick-slide{
    display:none;
} */
.layer1,
.layer2,
.layer3,
.layer4,
.layer5,
.layer6,
.layer7,
.layer8 {
    flex: 0 0 auto;
    margin: 23px 0 60px 0 !important;
}

.covid-19 .ebola .sars .Influenza .smallpox .black-death {
    box-sizing: border-box;
    width: 40%;
    flex-direction: column;
    justify-content: flex-end;
}

.test {
    width: 80%;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.8), 10px 50px 20px 0 rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------*/
.home_paragraph {
    font-size: 12px;
}

/*control carsoul button------------------------------------------*/
.slider-control {
    margin: 0%;
    /* position: absolute; */
    z-index: 2;
    /* bottom: 4%;
    left: 15%; */
    display: flex;
}

button {
    color: rgba(26, 26, 26, 0.3);
    background: none;
    padding: 13px 15px;
    border: 1px solid rgba(26, 26, 26, 0.3);
    font-size: 16px;
    border-radius: 50%;
    margin: 0.4em;
    display: inline-block;
}

button:focus {
    outline: none;
}

/*-------------------lightbox-------------------*/
.lightbox-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    max-width: inherit;
    width: 100%;
    height: 101%;
    display: none;
    top: -1%;
    right: 0%;
    overflow: auto;
    z-index: 1;
}
.-on{
    display:block;
}
.book_content {
    display: block !important;
    max-width: inherit;
    height: 700px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    background-image: url(../../dest/image/btn_img_background/1429635270.jpeg);
    padding: 60px;
    z-index: 101;
    border-radius: 5%;
    //   overflow: auto;
}

.black-target {
    width: 90%;
    height: 90%;
    background: #fff;
    color: #333;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

.btnclose {
    position: absolute;
    top: 19%;
    right: 3%;
    width: 40px;
    height: 40px;
    margin-top: -12px;
    border: 2px solid transparent;
    border-radius: 25%;
    font-size: 0;
    color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    -webkit-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    border-color: white;
    z-index: 200;
}

.btnclose::before,
.btnclose::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: white;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.btnclose::before {
    width: 12px;
    height: 2px;
    margin: -1px auto auto -6px;
}

.btnclose::after {
    width: 2px;
    height: 12px;
    margin: -6px auto auto -1px;
}

/*book -------------------------------------------------------------------*/
.flipbook {
    display: block !important;
    box-sizing: border-box;
    position: fixed;
    bottom: 5%;
    box-sizing: border-box;
    text-align: center;
}

.flipbook2 {
    display: none !important;
}

#sars-book {
    box-sizing: border-box;
    position: fixed;
    bottom: 5%;
    box-sizing: border-box;
    text-align: center;
}

.page-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* book1 covid-19---------------------------------------------------------*/
.cover-front {
    background-image: url(../../dest/image/btn_img_background/covid-19/covid-19-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.cover-back {
    background-color: #efe1d4;
}

.book-back {
    background-image: url(../../dest/image/btn_img_background/covid-19/covid-19-back.jpg);
}

.page-right {
    background-image: url(../../dest/image/btn_img_background/page.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 130%;
}

.page-left {
    background-image: url(../../dest/image/btn_img_background/page2.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 130%;
}

.book-content {
    margin: 10% 10% 8% 10%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.content-title {
    font-family: Toppan Bunkyu Midashi Mincho Extrabold;
    font-weight: 200;
    font-size: 30px;
}

.content-text {
    font-family: Tahoma;
    font-size: 11px;
    text-align: left;
}

.covid-pic-1 {
    margin: 5% 25%;
    width: 50%;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: var(--transition-animation);
    transition: var(--transition-animation);
}

.covid-pic-1 img {
    max-width: 100%;
    height: auto;
    border-radius: 0 25% 0 0;
}

.covid-pic-1 figcaption {
    font-style: italic;
    font-size: 12px;
    text-align: left;
    -webkit-transition: var(--transition-animation);
    transition: var(--transition-animation);
}

.covid-pic-1:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.covid-pic-2 {
    margin: 7% 5%;
    width: 50%;
}

.before-paragraph {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 5% 0;
}

.before-paragraph-image {
    width: 5%;
    margin: 0 3%;
    color: #ffb42a;
}

.before-paragraph-title {
    width: 4em;
    min-width: 4em;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #2e1e05;
    margin: 0 3% 0 0;
}

.before-paragraph-title-2 {
    width: 100%;
    min-width: 4em;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #2e1e05;
}

// .covid-vedio-title {
//     // float: left;
// }

.before-paragraph-line {
    width: 80%;
    height: 1px;
    background-color: black;
}

.page-number {
    text-align: center;
    font-family: Tahoma;
    font-size: 10px;
}

.ytp-cued-thumbnail-overlay-image {
    width: 100%;
    height: 250px;
}

.embedded-media-player__body {
    padding: 10px;
}

/*--------------------------------------------covid timeline*/
ul.covid-19-timeline {
    list-style-type: none;
    position: relative;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul.covid-19-timeline:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    left: 29px;
    top: 20px;
    width: 1px;
    height: 400%;
    z-index: 400;
}

ul.covid-19-timeline>li {
    margin: 20px 0;
    padding-left: 60px;
}

ul.covid-19-timeline>li>a {
    font-size: 12px;
    font-family: Tahoma;
}

ul.covid-19-timeline>li>p {
    font-size: 10px;
    font-family: Tahoma;
}

ul.covid-19-timeline>li:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #efe1d3;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* 佔-------------------------------------------------------------------*/
.book1-title {
    line-height: 45px;
    font-size: 30px;
    font-family: Toppan Bunkyu Midashi Mincho Extrabold;
}

.content-title {
    font-size: 30px;
}

/*  RWD   --------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
    .history_subtitle::before {
        right: 50px;
        width: 50%;
    }
}

@media only screen and (max-width: 1100px) {
    .history_subtitle::before {
        right: 60px;
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    .history_subtitle::before {
        display: none;
    }

    .ytp-cued-thumbnail-overlay-image {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .history_container {
        width: 70%;
        margin: 10%;
    }

    .ytp-cued-thumbnail-overlay-image {
        width: 70%;
    }

    .layer1,
    .layer2 {
        display: none;
    }

    .history_subtitle::before {
        display: none;
    }

    .DW_news {
        width: 70%;
    }
    .covid-pic-2{
        margin:10% 0;
        width:100%;
    }

    .book1,
    .book2,
    .book3,
    .book4,
    .book5 {
        width: 500px;
    }

    .test {
        width: 80%;
        margin: 0 auto;
        box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.8), 10px 20px 10px 0 rgba(0, 0, 0, 0.8);
    }

}

@media only screen and (max-width: 1600px) {
    .flipbook {
        display: block;
        box-sizing: border-box;
        position: fixed;
        bottom: 5%;
        box-sizing: border-box;
        text-align: center;
    }

    .flipbook2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .book_content {
        width: 100%;
        height: 100%;
        top: 11%;
        left: 50%;
        border-radius: 0%;
    }

    .flipbook {
        display: none !important;
    }

    .flipbook2 {
        overflow-y: scroll;
        position: inherit;
        display: flex !important;
        flex-direction: column;
        width: 100%;
        height: auto;
        top: -4%;
        right: 0%;
        bottom: 5%;
    }
    .btnclose {
        position: absolute;
        top: 16%;
        right: 5%;
    }
    
}

@media only screen and (max-width: 414px) {
    .lightbox-background {
        height: 150%;
    }

    .main {
        overflow-y: auto;
        margin:0;
    }

    .book_content {
        width: 100%;
        height: 100%;
        top: 20%;
        left: 50%;
        border-radius: 0%;
        max-width: inherit;
        padding:0%;
        overflow: scroll;
        height:auto;
    }

    .btnclose {
        position: absolute;
        top: 8%;
        right: 3%;
    }

    .flipbook2 {
        position: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        top: -4%;
        right: 0%;
        bottom: 5%;
    }

    .flipbook {
        display: none;
    }


    .history_container {
        width: 90%;
        margin: 5%;
    }

    .history_subtitle {
        font-size: 28px !important;
    }

    .history_subtitle::before {
        display: none;
    }

    .test {
        width: 80%;
        box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.8), 10px 20px 10px 0 rgba(0, 0, 0, 0.8);
    }

    #covid-19-book {
        position: fixed;
        right: -42%;
        width: 414px;
    }
    .about-bat{
        position:relative;
        width:200%;
    }
    .bbc-news{
        position:relative;
        width:200%;
    }
    element.style{
        margin-left:0;
    }
    
    
}

#covid-19-book {
    width: 1000px;
    height: 619px;
    background-color: transparent;
}

@media screen and (max-width: 900px) {
    #covid-19-book_test {
        width: 900px;
        height: 600px;
        width:10%;
    }
}


/*BOOK-SARS----------------------------------------------------------------*/
.flipbook-sars {
    box-sizing: border-box;
    position: fixed;
    /* right: -6%; */
    bottom: 5%;
    box-sizing: border-box;
    text-align: center;

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5); */
}


.sars-cover-front {
    background-image: url(../../dest/image/btn_img_background/sars/sars-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.lightbox-background-sars {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    max-width: inherit;
    width: 100%;
    height: 101%;
    display: none;
    position: fixed;
    top: -1%;
    right: 0%;
    overflow: auto;
}