@import "../LAYOUT/base/var";
ul.mark_bar {
    margin-bottom: 0;
}

footer {
    position: unset;
}

main {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    font-size: 0;
    overflow: hidden;
}

// 麵包屑
div.bread_crumbs {
    width: 100%;
    text-align: left;
    // border: 1px solid white;
    box-sizing: border-box;
    padding: 15px 0 15px 80px;
    font-size: 20px;
    color: rgb(155, 155, 155);
}

div.bread_crumbs a {
    text-decoration: none;
    color: unset;
}

div.bread_crumbs a span {
    font-size: 18px;
    color: rgb(207, 207, 207);
    // border: white 1px solid;
    padding: 0 5px;
    margin: 0 10px;
}

// 彩虹跑馬燈
div.marquee_container {
    width: 100%;
    overflow: hidden;
    // border: 1px solid whitesmoke;
    padding: 10px 0;
    box-sizing: border-box;
    background-image: url("/dest/image/forum/marquee.png");
    background-size: contain;
    filter: grayscale(0.4);
}

p.marquee_text {
    color: black;
    font-size: 18px;
    // font-weight: bold;
    animation: marquee 25s linear infinite;
    white-space: nowrap;
    margin-bottom: 0;
    // text-shadow: 0.04em 0.04em black;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-45%);
    }
}

// 左邊filter
aside.filter {
    width: 23%;
    // border: whitesmoke 1px solid;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(43, 43, 43);
    font-size: 0;
    text-align: center;
    padding: 4px 0;
}

div.filter_order,
div.filter_time {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    // border: 1px solid whitesmoke;
    margin-bottom: 20px;
}

div.filter_time {
    margin-bottom: 0;
}

div.filter_order>div {
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

div.filter_time>div {
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

div.filter_order img {
    width: 40px;
    // border: 1px solid whitesmoke;
}

div.filter_time div a img {
    width: 40px;
    // border: 1px solid whitesmoke;
}

div.filter_order a {
    text-decoration: none;
    color: unset;
}

div.filter_time a {
    text-decoration: none;
    color: unset;
}

div.filter_order h2 {
    font-size: 20px;
    color: white;
    text-align: left;
    // border: whitesmoke 1px solid;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px
}

div.filter_time h2 {
    font-size: 20px;
    color: white;
    text-align: left;
    // border: whitesmoke 1px solid;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    span {
        display: none;
    }
}

aside.filter h3 {
    color: whitesmoke;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 20px;
}

aside.filter>a {
    text-decoration: none;
    color: unset;
}

div.filter_time div a.-on h2 {
    color: yellow;
}

div.filter_order a.-on h3 {
    background-color: rgb(207, 207, 207);
    color: rgb(43, 43, 43);
}

// 右邊動畫 section 
section.top_slide_container {
    box-sizing: border-box;
    // border: 1px solid red;
    width: calc(100% - 23%);
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    height: 580px;
    background-color: whitesmoke;
    position: relative;
    form {
        display: inline;
    }
    div.post {
        // border: 1px solid black;
        position: absolute;
        top: 0;
        height: 100%;
        padding-top: 20px;
        width: 100%;
        text-align: center;
        // background-color: rgb(143, 143, 143);
        color: white;
        h2 {
            vertical-align: top;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    textarea#content {
        // display: none;
        height: 220px;
        display: none;
    }
    input,
    textarea {
        margin-top: 20px;
        background-color: black;
        border: unset;
        font-size: 22px;
        padding: 20px;
        border-radius: 5px;
        letter-spacing: 2px;
        color: whitesmoke;
        width: 70%;
        resize: none;
        position: relative;
        z-index: 20;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: whitesmoke;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        /* Firefox 18- */
        color: whitesmoke;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: whitesmoke;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: whitesmoke;
    }
    input::placeholder,
    textarea::placeholder {
        color: whitesmoke;
    }
    div.postimg {
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        text-align: left;
        margin-top: 20px;
        position: relative;
        z-index: 2;
        select {
            background-color: black;
            width: 29%;
            color: white;
            height: 73px;
            text-indent: 12px;
            border-radius: 20px;
            border: unset;
            display: none;
        }
        label {
            width: 10px;
            cursor: pointer;
            position: absolute;
            left: 13px;
            top: 5px;
            z-index: 30;
        }
        label img {
            width: 70px;
            padding: 0 14px;
            border-radius: 13px;
            background-color: whitesmoke;
        }
    }
    input#upload {
        width: 70%;
        display: none;
        // opacity: 0;
        padding: 22px 20px;
        margin: 0;
        font-size: 16px;
        cursor: pointer;
    }
    button {
        background-color: black;
        border: unset;
        font-size: 22px;
        color: whitesmoke;
        padding: 17px 30px;
        border-radius: 20px;
        letter-spacing: 2px;
        cursor: pointer;
        margin: 20px 40px 0;
        display: none;
    }
}

#canvas {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

// section 中間文章內容
section.content_container {
    width: 100%;
    // border: 1px solid whitesmoke;
    margin: 0 auto;
    text-align: center;
}

div.tab {
    display: none;
}

div.tab.-on {
    display: flex;
}

div.subtitle_1 {
    padding: 30px 0;
}

div.subtitle_1 h3 {
    font-size: 26px;
    color: rgb(224, 224, 224);
    font-weight: bolder;
    display: inline-block;
    margin-top: 5px;
    width: 15%;
}

div.subtitle_1 hr {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin: 15px 10px;
}

//文章內容
div.tab {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    .item_content {
        background-color: white;
        position: relative;
        padding: 20px;
        margin-bottom: 30px;
    }
}

div.article a {
    color: unset;
    text-decoration: none;
}

div.date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    text-align: center;
    padding: 11px 30px;
}

h4.year {
    color: white;
    font-size: 12px;
}

h4.day {
    color: white;
    font-size: 24px;
    margin: 5px 0;
    font-weight: bolder;
}

h4.month {
    color: grey;
    font-size: 16px;
}

img.thum_img {
    width: 40px;
}

h4.username {
    font-size: 20px;
    color: rgb(146, 146, 146);
    // border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 10px;
}

span.posted_time {
    font-size: 20px;
    color: rgb(146, 146, 146);
}

h2.article_title {
    font-size: 24px;
    margin: 20px 0;
}

p.article_content {
    display: none;
}

img.main_img {
    width: 100%;
}

h4.like_comment {
    font-size: 20px;
    color: rgb(146, 146, 146);
    // border: 1px solid black;
    margin-top: 5px;
}

h4.function,
h4.function2 {
    margin-top: 10px;
    display: inline-block;
}

h4.function2 {
    float: right;
}

h4.function img {
    width: 20px;
    vertical-align: top;
    cursor: pointer;
}

h4.function2 img {
    width: 20px;
    vertical-align: top;
    cursor: pointer;
}

img.heart {
    margin-top: 1px;
}

// 下方你可能也喜歡區塊
section.stretch {
    width: 90%;
    margin: 30px auto 0;
    border-top: white 1px solid;
    padding-bottom: 40px;
}

section.stretch h2 {
    font-size: 26px;
    font-weight: bolder;
    color: grey;
    margin: 20px 0;
}

//下方slider
div.slider {
    width: 100%;
    // border: 1px solid black;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

div.slider a {
    margin: 0 20px;
    border: 4px solid gray;
}

div.slider a div {
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

div.slide1 {
    background-image: url('/dest/image/forum/slide_1.jpeg');
    background-size: cover;
}

div.slide2 {
    background-image: url('/dest/image/forum/slide_2.jpg');
    background-size: cover;
}

div.slide3 {
    background-image: url('/dest/image/forum/slide_3.jpg');
    background-size: cover;
}

div.slide4 {
    background-image: url('/dest/image/forum/slide_4.jpg');
    background-size: cover;
}

div.slide5 {
    background-image: url('/dest/image/forum/slide_5.jpg');
    background-size: cover;
}

div.slide6 {
    background-image: url('/dest/image/forum/slide_6.png');
    background-size: cover;
}

div.slide7 {
    background-image: url('/dest/image/forum/slide_7.jpg');
    background-size: contain;
}

// 文章內容燈箱
div.background {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
}

div.article_content {
    display: none;
    width: 78%;
    height: 80vh;
    position: fixed;
    top: 18%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%);
    background-color: white;
    padding: 50px 70px;
    text-align: center;
    overflow: scroll;
    z-index: 101;
}

div.article_content h2 {
    font-size: 28px;
    line-height: 45px;
    text-align: left;
    margin: 20px auto 0;
    // border: 1px solid black;
}

div.article_content h2 a {
    font-size: 20px;
    color: rgb(187, 187, 10);
    text-decoration: none;
}

div.article_content>h3 {
    font-size: 18px;
    color: rgb(145, 144, 144);
    text-align: right;
    margin: 0 0 20px;
    // border: 1px solid black;
}

div.left,
div.right {
    display: inline-block;
    width: 42%;
    // border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

div.right {
    text-align: right;
    padding: 10px 0;
}

img#report {
    cursor: pointer;
}

//檢舉燈箱
div.report {
    display: none;
    background-color: gray;
    position: fixed;
    top: 27%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 105;
    width: 350px;
    padding: 30px;
    text-align: center;
    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        color: white;
    }
    label {
        text-align: left;
        display: block;
        font-size: 17px;
        color: white;
    }
    button {
        font-size: 20px;
        margin: 30px 30px 0;
    }
}

div.left {
    font-size: 26px;
    // border-right: 1px solid rgb(140, 140, 140);
}

img.thumbnail {
    height: 50px;
    border-radius: 50%;
}

img.thumbnail2 {
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
    margin: 10px;
}

div.left span {
    // border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

div.right img {
    height: 40px;
    margin: 5px 15px;
}

img.main_pic {
    margin: 30px auto;
    width: 75%;
}

p.article_text {
    font-size: 20px;
    line-height: 33px;
    text-align: left;
    width: 80%;
    margin: 20px auto 50px;
}

div.article_content hr {
    margin: 20px auto;
    border: 0.5px solid rgb(140, 140, 140);
}

textarea#comment_text {
    resize: none;
    width: 80%;
    height: unset;
    margin: 18px 10px;
    font-size: 16px;
}

button#postCom {
    background-image: url("/dest/image/forum/send.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    border: unset;
    cursor: pointer;
    vertical-align: top;
    margin: 20px 10px 0;
}

div.comment {
    width: 100%;
    overflow: scroll;
    h2 {
        border-top: 1px solid rgb(140, 140, 140);
        padding: 18px 40px 0px;
        font-size: 18px;
        font-weight: bold;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 15px;
            vertical-align: middle;
        }
        span {
            font-size: 16px;
            font-weight: lighter;
        }
        span.time {
            font-size: 12px;
            float: right;
            color: rgb(160, 158, 158);
        }
    }
}

aside.filter2 {
    display: none;
}

//RWD
@media (max-width:1299px) {
    section.content_container {
        width: 100%;
    }
}

@media (max-width:1199px) {
    main {
        margin-top: 70px;
    }
    //文章內容燈箱
    div.article_content {
        padding: 40px 50px;
    }
    div.left,
    div.right {
        width: 46%;
    }
    img.main_pic {
        margin: 30px auto;
        width: 75%;
    }
    p.article_text {
        width: 85%;
    }
    form {
        text-align: center;
        margin-bottom: 18px;
        textarea {
            resize: none;
            width: 75%;
            height: unset;
            margin: 18px 10px;
            font-size: 16px;
        }
        button {
            background-image: url("/dest/image/forum/send.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            border: unset;
            cursor: pointer;
            vertical-align: top;
            margin: 20px 10px 0;
        }
    }
    div.comment {
        width: 100%;
        overflow: scroll;
        h2 {
            border-top: 1px solid rgb(140, 140, 140);
            padding: 15px 40px 12px;
            font-size: 18px;
            font-weight: bold;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 15px;
                vertical-align: middle;
            }
            span {
                font-size: 16px;
                font-weight: lighter;
            }
            span.time {
                font-size: 12px;
                float: right;
                color: rgb(160, 158, 158);
            }
        }
    }
}

@media (max-width:991px) {
    // section 中間文章內容
    //文章內容燈箱
    div.article_content {
        width: 80%;
        padding: 40px 40px;
        h2 {
            font-size: 24px;
        }
        a {
            font-size: 18px;
        }
        h3 {
            font-size: 16px;
        }
    }
    div.left,
    div.right {
        font-size: 18px;
        width: 49%;
    }
    div.right {
        img {
            height: 35px;
            margin: 5px 13px;
        }
    }
    img.main_pic {
        margin: 30px auto;
        width: 80%;
    }
    p.article_text {
        width: 90%;
        font-size: 18px;
    }
    form {
        textarea {
            width: 70%;
            font-size: 14px;
        }
        button {
            width: 35px;
            height: 35px;
        }
    }
    div.comment {
        h2 {
            padding: 15px 0px 12px;
            font-size: 16px;
            img {
                width: 27px;
                height: 27px;
            }
            span {
                font-size: 14px;
            }
        }
    }
}

@media (max-width:767px) {
    //跑馬燈
    p.marquee_text {
        font-size: 16px;
    }
    // 右邊section幻燈片 
    section.top_slide_container {
        width: 100%;
        height: 520px;
        div.postimg {
            width: 90%;
        }
        textarea {
            font-size: 16px;
            width: 90%;
            margin-top: 10px;
        }
        button {
            font-size: 16px;
        }
        input {
            height: 40px;
            z-index: 10;
            position: relative;
            bottom: 10px;
            cursor: pointer;
            font-size: 16px;
            width: 90%;
        }
        input#upload {
            padding: 7px 20px;
            font-size: 14px;
        }
    }
    //拿掉左邊篩選移到下方
    aside.filter {
        display: none;
    }
    aside.filter2 {
        display: block;
        padding: 12px 0;
        width: 100%;
        div.filter_left {
            // border: 1px solid white;
            width: 35%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            font-size: 16px;
            color: white;
            input {
                background-color: rgb(43, 43, 43);
                color: white;
                border: none;
                font-size: 16px;
                font-weight: bolder;
                cursor: pointer;
            }
            div {
                display: none;
                width: 100%;
                padding: 20px 0;
                border-bottom: 1px solid white;
                a {
                    color: unset;
                    text-decoration: none;
                }
                img {
                    width: 30px;
                }
                h2 {
                    font-size: 16px;
                    vertical-align: top;
                    display: inline-block;
                    color: white;
                    margin-top: 10px;
                }
            }
        }
        div.filter_right {
            font-size: 16px;
            color: white;
            display: inline-block;
            // border: 1px solid white;
            width: 35%;
            input {
                background-color: rgb(43, 43, 43);
                color: white;
                border: none;
                font-size: 16px;
                font-weight: bolder;
                cursor: pointer;
            }
            a {
                color: unset;
                text-decoration: none;
            }
            h3 {
                display: none;
                border-bottom: 1px solid white;
                font-size: 16px;
                padding: 28.5px 0;
            }
        }
    }
    //文章內容
    div.subtitle_1 {
        h3 {
            font-size: 20px;
        }
    }
    div.date {
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        text-align: center;
        padding: 7px 20px;
    }
    h4.year {
        color: white;
        font-size: 12px;
    }
    h4.day {
        color: white;
        font-size: 16px;
        margin: 5px 0;
        font-weight: bolder;
    }
    h4.month {
        color: grey;
        font-size: 12px;
    }
    img.thum_img {
        width: 35px;
    }
    h4.username {
        font-size: 16px;
        color: rgb(146, 146, 146);
        // border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
    }
    span.posted_time {
        font-size: 16px;
        color: rgb(146, 146, 146);
    }
    h2.article_title {
        font-size: 18px;
        margin: 15px 0;
    }
    img.main_img {
        width: 100%;
    }
    h4.like_comment {
        font-size: 14px;
        color: rgb(146, 146, 146);
        // border: 1px solid black;
        margin-top: 5px;
    }
    h4.function,
    h4.function2 {
        margin-top: 10px;
        display: inline-block;
    }
    h4.function2 {
        float: right;
    }
    h4.function img {
        width: 16px;
        vertical-align: top;
        cursor: pointer;
    }
    h4.function2 img {
        width: 16px;
        vertical-align: top;
        cursor: pointer;
    }
    img.heart {
        margin-top: 1px;
    }
    //文章內容燈箱
    div.article_content {
        width: 80%;
        padding: 30px 30px;
        h2 {
            font-size: 22px;
        }
        a {
            font-size: 16px;
        }
        h3 {
            font-size: 14px;
        }
    }
    div.left,
    div.right {
        font-size: 18px;
        width: 40%;
    }
    div.right {
        float: unset;
        text-align: center;
        width: 60%;
        img {
            height: 30px;
            margin: 5px 10px;
        }
    }
    img.main_pic {
        margin: 30px auto;
        width: 80%;
    }
    p.article_text {
        width: 90%;
        font-size: 16px;
    }
    form {
        textarea {
            width: 66%;
            font-size: 14px;
        }
        button {
            width: 28px;
            height: 28px;
            margin-top: 24px;
            vertical-align: top;
        }
        img.thumbnail2 {
            margin-top: 15px;
            height: 40px;
        }
    }
    div.comment {
        h2 {
            padding: 15px 0px 12px;
            font-size: 16px;
            img {
                width: 27px;
                height: 27px;
            }
            span {
                font-size: 14px;
            }
        }
    }
}

@media (max-width:575px) {
    //跑馬燈
    p.marquee_text {
        font-size: 14px;
    }
    // 右邊section幻燈片 
    section.top_slide_container {
        height: 450px;
        textarea#content {
            font-size: 15px;
            width: 90%;
            height: 180px;
        }
        button {
            font-size: 15px;
            padding: 8px 35px;
        }
        label img {
            width: 30px;
        }
        input {
            height: 40px;
            z-index: 10;
            position: relative;
            bottom: 10px;
            cursor: pointer;
        }
    }
    //下方篩選
    aside.filter2 {
        padding: 12px 0;
        div.filter_left {
            font-size: 13px;
            input {
                font-size: 13px;
            }
            div {
                padding: 20px 0;
                img {
                    width: 20px;
                }
                h2 {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
        }
        div.filter_right {
            font-size: 13px;
            input {
                font-size: 13px;
            }
            h3 {
                font-size: 14px;
                padding: 24px 0;
            }
        }
    }
    //文章內容
    div.subtitle_1 {
        h3 {
            font-size: 14px;
            width: unset;
            margin-top: 10px;
        }
        hr {
            width: 65%;
        }
    }
    section.content_container {
        div.article_container1,
        div.article_container2,
        div.article_container3 {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
    div.article_container3 {
        display: block;
    }
    div.article_container1>div {
        padding: 20px 30px 10px;
        margin: 0 auto 40px;
    }
    div.article_container2>div {
        padding: 20px 30px 10px;
        margin: 0 auto 30px;
    }
    div.date {
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        text-align: center;
        padding: 7px 20px;
    }
    h4.year {
        color: white;
        font-size: 12px;
    }
    h4.day {
        color: white;
        font-size: 16px;
        margin: 5px 0;
        font-weight: bolder;
    }
    h4.month {
        color: grey;
        font-size: 12px;
    }
    img.thum_img {
        width: 35px;
    }
    h4.username {
        font-size: 16px;
        color: rgb(146, 146, 146);
        // border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
    }
    span.posted_time {
        font-size: 16px;
        color: rgb(146, 146, 146);
    }
    h2.article_title {
        font-size: 18px;
        margin: 15px 0;
    }
    img.main_img {
        width: 100%;
    }
    h4.like_comment {
        font-size: 14px;
        color: rgb(146, 146, 146);
        // border: 1px solid black;
        margin-top: 5px;
    }
    h4.function,
    h4.function2 {
        margin-top: 10px;
        display: inline-block;
    }
    h4.function2 {
        float: right;
    }
    h4.function img {
        width: 16px;
        vertical-align: top;
        cursor: pointer;
    }
    h4.function2 img {
        width: 16px;
        vertical-align: top;
        cursor: pointer;
    }
    img.heart {
        margin-top: 1px;
    }
    //文章內容燈箱
    div.article_content {
        width: 90%;
        padding: 30px 30px;
        h2 {
            font-size: 18px;
            a {
                font-size: 14px;
            }
        }
        h3 {
            font-size: 12px;
        }
    }
    div.left,
    div.right {
        font-size: 16px;
        width: 35%;
    }
    div.right {
        float: unset;
        text-align: center;
        width: 65%;
        img {
            height: 28px;
            margin: 5px;
        }
    }
    img.main_pic {
        margin: 30px auto;
        width: 80%;
    }
    p.article_text {
        width: 90%;
        font-size: 14px;
    }
    form {
        textarea {
            width: 66%;
            font-size: 12px;
        }
        button {
            width: 25px;
            height: 25px;
            margin-top: 24px;
            vertical-align: top;
        }
        img.thumbnail2 {
            margin-top: 15px;
            height: 35px;
        }
    }
    div.comment {
        h2 {
            padding: 15px 0px 12px;
            font-size: 14px;
            img {
                width: 27px;
                height: 27px;
            }
            span {
                font-size: 12px;
            }
        }
    }
}