@import "../LAYOUT/base/var";
@import "../sass/subpage";
body{
  h1, h2{
    font-family:"NotoSansTC-Black";
    font-weight: bold;
  }
}
main {
  background-color: #222;
}
// -------------------麵包屑-------------------------
div.bread_crumbs {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 0 15px 80px;
  font-size: 20px;
  // color: rgb(155, 155, 155);
  background-image: url(./../image/backroung/background-color.jpg);
  @include rwd(medium) {
    display: none;
  }
  @include rwd(small) {
    display: none;
  }
  @include rwd(mobile) {
    display: none;
  }
  a {
    text-decoration: none;
    color: unset;

    span {
      font-size: 18px;
      color: rgb(207, 207, 207);
      padding: 0 5px;
      margin: 0 10px;
    }
  }
}


// -------------------麵包屑-------------------------

// -----------------------video--------------------------
.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	// background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

/* .elastislide-horizontal {
	padding: 10px 40px;
} */

/* .elastislide-vertical {
	padding: 40px 10px;
} */

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	// border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(./../image/HotNews/img/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}
/* General Demo Style */
/* @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    // background: #ddd url(../images/bg.jpg) repeat top left;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	float: none;
}

.main {
	width: 95%;
	/* max-width: 960px; */
	padding: 0 10px;
	margin: 2% auto;
	position: relative;
}

.main > header {
	padding: 40px 0;
}

.main > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.main > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main p {
	padding: 30px 0 0;
	text-align: center;
	font-weight: 400;
	line-height: 22px;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	clear: none;
	padding-top: 10px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px 10px 10px 0;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.column {
	width: 50%;
	float: left;
	padding: 20px;
	min-height: 300px;
}

.column p {
	text-align: left;
}

.column-20 {
	width: 20%;
}

.column-80 {
	width: 80%;
}

.js .fixed-bar {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.js .gallery {
	width: 100%;
	/* max-width: 450px; */
	margin: 0 auto;
	border-radius: 20px;
	position: relative;
	background: #000 url(../images/black_denim.png);
	box-shadow: 0 2px 1px rgba(255,255,255,0.9), 0 -2px 1px rgba(255,255,255,0.9);
}

.lt-ie8 .elastislide-list {
	display: none;
}

@media screen and (max-width: 690px) {
	.codrops-demos {
		float: left;
		clear: both;
	}
}
/* Custom Elastislide Styling */

.demo-1 .elastislide-horizontal {
	padding: 10px 37px;
	border-radius: 10px/90px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), 
		inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  20px;
	width: 50%;
	height: 20%;
	border-radius: 10px/90px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.demo-1 .elastislide-wrapper:after {
	right: 20px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.demo-2 .elastislide-vertical {
	max-width: 170px;
	padding: 37px 10px;
	border-radius: 90px/10px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), 
		inset 0 10px 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-2 .elastislide-vertical:before {
	top: 30px;
	bottom: 30px;
	left: 0;
	right: 0;
	content: " ";
	position: absolute;
	z-index: -2;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	border-radius: 20px/160px;
}

.demo-2 .elastislide-vertical:after {
	content: " ";
	position: absolute;
	z-index: -2;
}

.demo-3 .elastislide-horizontal {
	background-color: #000;
	padding: 30px 60px;
}

.no-touch .demo-3 .elastislide-horizontal {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.no-touch .demo-3 .elastislide-horizontal:hover {
	opacity: 1;
}

.demo-3 .elastislide-wrapper nav span {
	background-color: #000;
}

.demo-3 .elastislide-carousel ul li a{
	padding: 0 10px;
}

.demo-3 .elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
}

.demo-4 .elastislide-horizontal {
	background-color: transparent;
	border-radius: 20px 20px 0 0;
}

.demo-3 .elastislide-horizontal.elastislide-loading,
.demo-4 .elastislide-horizontal.elastislide-loading {
	background-image: url(../images/loading_dark.gif);
}

.demo-4 .elastislide-carousel ul li a{
	padding: 2px;
}

.demo-4 .elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
	box-shadow: 0 1px 2px #000;
}

.demo-4 .elastislide-wrapper nav span {
	background-color: #666;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.demo-4 .image-preview img {
	border-radius: 0 0 20px 20px;
	max-width: 100%;
	display: block;
}

.demo-4 .elastislide-carousel ul li.current-img a img {
	box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}

@media screen and (max-width: 460px) {
	.demo-3 .elastislide-horizontal {
		padding: 10px 40px;
	}
}
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.js .fixed-bar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.js .gallery {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  background: #000;
}

.lt-ie8 .elastislide-list {
  display: none;
}

@media screen and (max-width: 690px) {
  .js .gallery {
    width: 96%;
  }
  .codrops-demos {
    float: left;
    clear: both;
  }
}


/* Elastislide Style */

.elastislide-list {
  list-style-type: none;
  display: none;
}

.no-js .elastislide-list {
  display: block;
}

.elastislide-carousel ul li {
  min-width: 20px;
}

.elastislide-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  // background-color: white;
  opacity: 0.2;
  z-index: -1;
}

.elastislide-wrapper {
  background-color: none;
  width: 100%;
  opacity: 1;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  min-height: 60px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.elastislide-wrapper.elastislide-loading {
  background-repeat: no-repeat;
  background-position: center center;
}

// .elastislide-horizontal {
//   padding: 10px 40px;
// }

.elastislide-vertical {
  padding: 40px 10px;
}

.elastislide-carousel {
  overflow: hidden;
  position: relative;
}

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.elastislide-horizontal ul {
  white-space: nowrap;
}

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block;
}

.elastislide-vertical ul li {
  display: block;
}

.elastislide-carousel ul li {
  margin: 0;
}
.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%;
}
.elastislide-carousel ul li a video {
  display: block;
  max-width: 90%;
  width: 80%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
  position: absolute;
  background: rgb(98, 98, 98) url(./../image/HotNews/img/nav.png) no-repeat 4px 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;

}
.elastislide-next{
  text-align: center;
}
.elastislide-wrapper nav span:hover {
  opacity: 1.0
}
.elastislide-horizontal{
  position: relative;
}
.elastislide-horizontal nav span {
  position: absolute;
  top: 50%;
  transform: translate(-50% 0);
}

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  background-position: 5px -15px;
}
.elastislide-horizontal nav span.elastislide-prev{
  background-position: 5px 5px;
  left: 10px;
}

video {
  margin: auto;
}
.elastislide-carousel ul li a{
  position: relative;
}

div.video_title{
  position: absolute;
  top: 0;
  left: 10%;
  font-size: 1rem;
  z-index: 2;
  color: red;
  background-color: black;
  opacity: 0.8;
  line-height: 18px;
  padding: 3px;
}
// -----------------video--------------------------

// -----------------Taiwan map---------------------
.first_title {
  text-align: center;
  font-size: 24px;
  color: white;
  @include rwd(desktop) {
    padding-top: 20px;
  }
  @include rwd(medium) {
    padding-top: 20px;
  }
  @include rwd(small) {
    padding-top: 20px;
  }
  @include rwd(mobile) {
    padding-top: 20px;
  }
}
.second_title{
  text-align: center;
  font-size: 24px;
  color: white;
  padding-top: 30px;

  @include rwd(desktop) {
    padding-top: 30px;
  }
  @include rwd(medium) {
    padding-top: 30px;
  }
  @include rwd(small) {
    padding-top: 30px;
  }
  @include rwd(mobile) {
    padding-top: 30px;
  }
}
.map_chartarea {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}


#app {
  width: calc(100% - 35% - 10%);
  height: 100%;
  margin-right: 2%;

  .map_title {
    font-size: 20px;
    margin: 0px 15px 15px 0px;
    color: white;
  }
  .out-left {
    // background-color: #4079d6;
    background-color: #53698b;
    width: 100%;
    position: relative;
    h1{
      font-size: 24px;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 5px 0;
      font-weight: 600;
    }
    .title_area {
      position: absolute;
      left: 12%;
      top: 10%;
      @include rwd(mobile) {
        left: 5%;
        top: 9%;
      }
      
      h2 {
        padding: 8px;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }

      hr {
        width: 100%;
        border: 1px solid white;
        margin: 0;
      }

      .forcast {
        margin: 8px 0 0 8px;

        h3{
          margin: auto;
          font-size: 18px;
          line-height: 26px;
          color: rgb(255, 255, 255);
        }
      }
      
    }

    #image_3 {
      width: 100%;
    }
    
    path {
      stroke: white;
      fill: transparent;
      transition: 0.5s;
      fill: #B99362;
      transform: translate(-5px, -5px)
    }

    path:hover {
      fill: white;
    }
    p{
      text-align: right;
      font-size: 16px;
      color: rgb(185, 185, 185);
      padding: 3px;
      a{
        font-size: 16px;
        color: rgb(185, 185, 185);
      }
    }
  }
}

// ----------------Taiwan map--------------------------

//-----------------chartarea---------------------

.panel {
  margin: 0;
  border-radius: 0;
  border: 0;
}
.out-right {
  width: 30%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;

  .map_table {
    width: 100%;
    
    table {
      text-align: center;
      width: 100%;

      td {
        vertical-align: middle;
        text-align: center;
        // padding: 5px;
        font-size: 16px;
      }
    }
    .svg1_1 {
      background-color: white;
      width: 100%;
      height: 100%;
    }
  }

  canvas {
    background-color: white;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width:1200px) {
  .svg1_1 {
    background-color: white;
    width: 100%;
    margin-top: 2%;
    height: 100%;
  }
  #image_3 {
    height: 720px;
  }
}
@media screen and (max-width:1199px) {
  .map_chartarea{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 90%;
    margin: 2% auto;

    #app{
      width: 100%;
      margin: 0;
    }

    .out-right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 2%;

      .map_table{
        width: 100%;
        margin: auto;
      }
      .svg1_1{
        width: 48%;
        margin: 2% auto;
      }
    }
  }
}

@media screen and (max-width:991px) {
  .map_chartarea{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2%;

    #app{
      width: 100%;
      margin: 0;
    }

    .out-right {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .map_table{
        width: 100%;
        margin: auto;
      }
      .svg1_1{
        width: 48%;
        margin: 2% auto;
        height: 100%;

      }
    }
  }
}

@media screen and (max-width:767px) {
  .map_chartarea{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;

    #app{
      width: 90%;
      margin: 0;
    }

    .out-right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 90%;
      margin-top: 1%;

      .map_table{
        width: 100%;
        margin: 1% auto;
      }
      .svg1_1{
        width: 100%;
        margin: 1% auto;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width:575px) {
  .map_chartarea{
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;

    #app{
      width: 100%;
      margin: 0;
      .map_title{
        margin-top: 10px;
        text-align: center;
      }
      .out-left{
        margin-top: 10px;
      
        #image_3{
          width: 100%;
        }
      }
      
    }
    

    .out-right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 96%;

      .map_table{
        width: 100%;
        margin: 2% auto;
      }
      .svg1_1{
        width: 100%;
        margin: 2% auto;
      }
    }
  }
}


//-----------------chartarea---------------------



 hr {
  width: 94%;
  margin: 20px auto;
  display: block;
  border: 1px solid rgb(190, 190, 190);
}

//-----------------News cards--------------------
div.tab {
  display: none;
}

div.tab.-on {
  display: block;
}
div.date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  text-align: center;
  padding: 15px 30px;
  margin: 0;
  opacity: 0.8;
  @include rwd(medium) {
    padding: 10px 20px;
  }
  @include rwd(small) {
    padding: 5px 10px;
  }
  @include rwd(mobile) {
    padding: 15px 30px;
  }

  h4.year {
    color: white;
    font-size: 16px;
    @include rwd(medium) {
      font-size: 14px;
    }
    @include rwd(mobile) {
      font-size: 16px;
    }
  }

  h4.day {
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: bolder;
    @include rwd(medium) {
      font-size: 20px;
      line-height: 24px;
    }
    @include rwd(mobile) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  h4.month {
    color: grey;
    font-size: 16px;
    @include rwd(medium) {
      font-size: 14px;
    }
    @include rwd(mobile) {
      font-size: 16px;
    }
  }
}
div.cards_content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  padding: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  @include rwd(medium) {
    padding: 5px;
  }
  @include rwd(mobile) {
    padding: 10px;
  }
  span{
    font-size: 16px;
    color: blanchedalmond;
    line-height: 20px;
    @include rwd(medium) {
      font-size: 14px;
      line-height: 18px;
    }
    @include rwd(mobile) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}



.news_container {
  width: 100%;
  margin: auto;
  h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
    margin-left: 3%;
    margin-top: 3%;
  }
  .top_cards {
    width: 100%;
    h2 {
      font-size: 20px;
      color: rgb(211, 211, 211);
      margin-left: 3%;
    }
    hr{
      margin: 20px auto;
    }
  }
}



.tab_block{
  ul.tab_list {
    list-style: none;
    width: 100%;
    h2 {
      font-size: 20px;
      color: rgb(211, 211, 211);
      margin:4% 5% 0 3%;
      display: inline-block;
    }
    >li {
      display: inline-block;
      // margin-left: 10px;
      >a {
        padding: .3em 0;
        color: rgb(204, 204, 204);
        border-radius: .3em;
        text-align: center;
        >p {
          display: inline-block;
          font-size: 20px;
          padding: 0;
        }
      }
      >a.-on {
        border-bottom: 4px solid rgb(221, 221, 221);
        color: rgb(245, 245, 245);
      }
    }
    >li:last-child::before {
      content: "|";
      padding: 3px 0;
      font-size: 20px;
      color: rgb(245, 245, 245);
      margin: 0 10px;
    }
  }
  hr{
    margin: 20px auto;
  }
}
// .table_list li:first-child::before {
//   display: none;
// }


.tab1,
.tab2 {
  position: relative; 
  .bottom_cards {
    width: 100%;
    // margin-top: 5%;
    .bottom_news_card{
      display: flex;
      width: 86%;
      margin: 0 auto;
      // justify-content: center;
      .news_box{
        position: relative;
        .news_box_content{
          margin-bottom: 15px;
          position: relative;
          overflow: hidden;
          height: 300px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}




//detail
.like {
  color: white;
  margin: 20px 0 20px 3% ;
  font-size: 24px;
  text-align: left;
}

.relative-info {
  text-align: center;
}
.relative-info-inner {
  width: 80%;
  display: inline-block;
  // position: relative;
  margin-top: 20px;
}
.myowl-2 .owl-nav .pre {
  position: absolute;
  left: -10%;
  color: rgb(255, 255, 255);
  font-size: 400%;
  top: 40%;
}
.myowl-2 .owl-nav .next {
  position: absolute;
  right: -10%;
  top: 40%;
  color: rgb(255, 255, 255);
  font-size: 400%;
}
.hid {
  display: none;
}
.owl-carousel .myowl-item-2{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// 頁面切換列
#navigator {
  width: 100%;
  // border: 1px solid white;
  padding: 20px 0;
  text-align: center;
}

#navigator ul li {
  font-size: 24px;
  display: inline-block;
  color: white;
  margin: 5px;
}
