@import "../LAYOUT/base/var";

body {
    background-color: rgb(10, 10, 10);
}

main {
    margin: 0 auto 40px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    font-size: 0;
    text-align: center;
}

// 麵包屑
div.bread_crumbs {
    width: 100%;
    text-align: left;
    // border: 1px solid white;
    box-sizing: border-box;
    padding: 15px 0 15px 80px;
    font-size: 20px;
    color: rgb(155, 155, 155);
}

div.bread_crumbs a {
    text-decoration: none;
    color: unset;
}

div.bread_crumbs a span {
    font-size: 18px;
    color: rgb(207, 207, 207);
    // border: white 1px solid;
    padding: 0 5px;
    margin: 0 10px;
}

// 左邊會員資訊欄 
aside.member_info {
    display: inline-block;
    // border: 1px solid white;
    width: 20%;
    margin: 0 20px;
    min-width: 400px;
    text-align: center;

    div.member_edit {

        #editemail,
        #editname {
            border: 2px solid grey;
            background-color: rgb(10, 10, 10);
            color: rgb(192, 191, 191);
            font-size: 22px;
            text-align: center;
            width: 85%;
            cursor: pointer;
        }

        #editemail:focus,
        #editname:focus {
            background-color: whitesmoke;
            color: black;
        }

        #editemail:disabled,
        #editname:disabled {
            border: unset;
            cursor: none;
        }

        #save,
        #cancel {
            border: 1px solid whitesmoke;
            background-color: rgb(10, 10, 10);
            color: rgb(212, 212, 212);
            border-radius: 30px;
            font-size: 18px;
            padding: 10px 30px;
            margin: 15px 10px;
            display: none;
            cursor: pointer;
        }
    }

    div.member_img {
        width: 100%;
        padding-top: 40px;
        position: relative;

        img.thumbnail {
            width: 80%;
            border-top-left-radius: 30%;
            // filter: grayscale(0.9);
        }

        form {
            display: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            text-align: right;

            // border: 1px solid white;
            label {
                position: relative;
                right: 10px;
                bottom: 30px;
            }

            img {
                float: right;
                width: 50px;
                position: relative;
                top: 18px;
                cursor: pointer;
                padding: 10px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
            }

            input {
                border: 1px solid white;
                color: transparent;
                opacity: 0;
            }
        }
    }

    h2.member_name {
        font-size: 30px;
        color: rgb(204, 204, 204);
        font-weight: bolder;
        margin: 25px auto;
    }

    h3 {
        font-size: 18px;
        color: rgb(204, 204, 204);
        margin: 25px auto;
    }

    h4 {
        color: rgb(204, 204, 204);
        font-size: 24px;

        i {
            margin-right: 20px;
        }
    }

    a {
        color: unset;
        text-decoration: unset;
    }

    h2.edit {
        font-size: 24px;
        color: rgb(204, 204, 204);
        border: 1px solid rgb(204, 204, 204);
        // display: inline-block;
        padding: 20px;
        width: 65%;
        border-radius: 30px;
        margin: 30px auto;
        cursor: pointer;
    }
}

// 右邊會員功能資訊欄 
section.member_data {
    // border: 1px solid white;
    width: 60%;
    margin: 40px 20px 0;
    display: inline-block;
    // height: 700px;
    vertical-align: top;
}

// 頁籤選項
ul.tab_list {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;

    a {
        color: none;
        text-decoration: unset;
    }

    li {
        display: inline-block;
        font-size: 20px;
        color: rgb(204, 204, 204);
        margin: 0 25px;
        padding: 0 15px 15px;
    }

    a.-on li {
        border-bottom: 4px solid rgb(228, 228, 8);
        color: rgb(245, 245, 245);
    }
}

// 頁籤內容
div.tab_contents {
    width: 100%;
}

div.tab {
    display: none;
}

// 發文紀錄
div.tab_text {
    display: grid;
    grid-template-columns: 20% 50% 15%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.content_img {

    // border: 1px solid white;
    img {
        width: 100%;
    }
}

.contents {
    // border: 1px solid white;
    text-align: left;

    h2 {
        font-size: 22px;
        letter-spacing: 1px;
        color: rgb(204, 204, 204);
        line-height: 28px;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    p {
        font-size: 14px;
        color: rgb(204, 204, 204);
        letter-spacing: 1px;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

.time {

    // border: 1px solid white;
    h3 {
        font-size: 16px;
        color: rgb(204, 204, 204);
        line-height: 30px;
        text-align: left;
    }
}

//留言紀錄
div.record {
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 30% 50% 15%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: left;

    div.topic {
        h2 {
            font-size: 22px;
            color: rgb(204, 204, 204);
            line-height: 28px;
            letter-spacing: 1px;
            display: inline-block;
        }

        p {
            display: inline-block;
        }
    }

    div.comment {
        font-size: 20px;
        color: rgb(204, 204, 204);
        line-height: 30px;

        img {
            width: 40px;
            border-radius: 50%;
            margin: 0 5px;
        }

        h2 {
            font-size: 20px;
            color: rgb(204, 204, 204);
            display: inline-block;
        }

        p {
            color: rgb(204, 204, 204);
            display: inline-block;
            font-size: 20px;
        }
    }

    div.theme {
        h3 {
            font-size: 16px;
            color: rgb(204, 204, 204);
            line-height: 30px;
        }
    }
}

//檢舉案件狀態
div.report {
    text-align: left;
    line-height: 30px;
    display: grid;
    grid-template-columns: 45% 20% 15%;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: rgb(204, 204, 204);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;

    h3 {
        font-size: 18px;
    }
}

//重設密碼
div.tab4 {
    // border-bottom: 1px solid grey;
    padding-bottom: 40px;

    h3 {
        font-size: 22px;
        color: rgb(204, 204, 204);
        margin: 10px auto;
    }
}

div.pswCon {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: rgb(204, 204, 204);
    padding-top: 10px;

    h2 {
        width: 40%;
        white-space: nowrap;
        margin: 20px auto;
        font-size: 22px;
        color: rgb(204, 204, 204);
        text-align: center;
        // border: 1px solid grey;
    }

    >div {
        display: inline-block;

        label {
            display: inline-block;
            text-align: center;
            margin-top: 30px;

            input[type=password] {
                display: inline-flex;
                ;
                width: 60%;
                font-size: 20px;
                background-color: rgb(241, 241, 241);
            }

        }

        label:nth-child(2) {
            padding: 50px;
        }

        input[type=submit] {
            font-size: 20px;
            color: rgb(204, 204, 204);
            background-color: transparent;
            border: 1px solid rgb(204, 204, 204);
            // display: inline-block;
            padding: 5px 15px;
            border-radius: 30px;
            margin: 30px auto 0;
            cursor: pointer;
        }

    }

}

div.-on {
    display: block;
    // overflow: scroll;
}

@media (max-width:1199px) {
    aside.member_info {
        width: 100%;
        min-width: unset;
        margin: 0 auto;

        div.member_img {
            width: 40%;
            display: inline-block;
            box-sizing: border-box;

            img.thumbnail {
                width: 300px;
            }

            form {
                width: 300px;

                // border: 1px solid white;
                label {
                    right: 10px;
                    bottom: 10px;
                }

                img {
                    width: 50px;
                }
            }
        }

        div.member_edit {
            width: 40%;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            padding-top: 40px;
        }
    }

    // 右邊會員功能資訊欄 
    section.member_data {
        // border: 1px solid white;
        width: 90%;
        margin: 60px auto;
    }

    // 頁籤選項
    ul.tab_list {
        li {
            display: inline-block;
            font-size: 20px;
            color: rgb(204, 204, 204);
            margin: 0 20px;
            padding: 0 15px 15px;
        }
    }
}

@media (max-width:767px) {
    aside.member_info {
        div.member_img {
            width: 45%;

            img.thumbnail {
                width: 250px;
            }

            form {
                width: 250px;

                // border: 1px solid white;
                label {
                    right: 10px;
                    bottom: 10px;
                }

                img {
                    width: 45px;
                }
            }
        }

        div.member_edit {
            width: 45%;
            padding-top: 20px;
        }

        h2.member_name {
            font-size: 24px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 20px;
        }

        h2.edit {
            font-size: 18px;
            color: rgb(204, 204, 204);
            border: 1px solid rgb(204, 204, 204);
            display: inline-block;
            padding: 20px;
            border-radius: 30px;
            margin: 30px auto;
        }
    }

    // 右邊會員功能資訊欄 
    section.member_data {
        // border: 1px solid white;
        width: 90%;
        margin: 60px auto;
    }

    // 頁籤選項
    ul.tab_list {
        li {
            font-size: 14px;
            padding: 0 10px 10px;
            margin: 0 15px;
        }
    }

    //發文紀錄
    .contents {
        h2 {
            font-size: 18px;
        }

        p {
            font-size: 12px;

        }
    }

    .time {

        // border: 1px solid white;
        >div {
            font-size: 14px;
        }
    }

    //留言紀錄
    div.record {
        div.topic {
            h2 {
                font-size: 18px;
            }
        }

        div.comment {
            h2 {
                font-size: 18px;
            }

            p {
                font-size: 18px;
            }
        }

        div.theme {
            h3 {
                font-size: 14px;
            }
        }
    }

    //檢舉案件狀態
    div.report {
        div.title {
            h2 {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 16px;
        }
    }

    //重設密碼
    div.tab4 {
        h3 {
            font-size: 18px;
        }

        div.pswCon {
            h2 {
                font-size: 18px;
            }

            input {
                font-size: 16px;
            }
        }
    }
}

@media (max-width:575px) {
    aside.member_info {
        div.member_img {
            width: 100%;

            img.thumbnail {
                width: 250px;
            }
        }

        div.member_edit {
            width: 100%;
            padding-top: 20px;
        }

        h2.member_name {
            font-size: 24px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 20px;
        }

        h2.edit {
            font-size: 18px;
            color: rgb(204, 204, 204);
            border: 1px solid rgb(204, 204, 204);
            display: inline-block;
            padding: 20px;
            border-radius: 30px;
            margin: 30px auto;
        }
    }

    // 右邊會員功能資訊欄 
    section.member_data {
        // border: 1px solid white;
        width: 100%;
        margin: 40px auto;
    }

    // 頁籤選項
    ul.tab_list {
        li {
            font-size: 12px;
            padding: 0 5px 10px;
            margin: 0 5px;
        }
    }

    .contents {
        h2 {
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }
    }

    .time {

        // border: 1px solid white;
        h3 {
            font-size: 14px;
            text-align: center;
        }
    }

    div.tab_text {
        padding: 0 15px 25px;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 25px;

        div.content_img {
            order: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }

        div.contents {
            order: 1;
            grid-column-start: 1;
            grid-column-end: 6;
        }

        div.time {
            order: 3;
            grid-column-start: 4;
            grid-column-end: 6;
        }
    }

    //留言紀錄
    div.record {
        padding: 0 15px 25px;
    }

    //檢舉案件狀態
    div.report {
        padding: 0 15px 25px;
    }

    //重設密碼
    div.tab4 {
        h3 {
            font-size: 18px;
        }

        div.pswCon {
            h2 {
                font-size: 18px;
            }

            input {
                font-size: 16px;
            }
        }
    }

    div.-on {
        display: block;
        // overflow: scroll;
        // height: 600px;
    }
}
