body {
    height: 100vh;
    background-image: url(../image/welcome/universe_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    main.fontandback {
        z-index: 1;
        height: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 300px;
        align-items: center;
        div.door {
            border-radius: 50%;
            background-color: rgba(255,255,255,.5);
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            animation-timing-function: linear;
            a {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 200px;
                width: 200px;
                display: block;
            }
            p {
                font-size: 40px;
                color: #fff;
            }
        }
        .front_door {
            animation-name: to_top;
            > a {
                background-image: url(../image/welcome/Bacteriophage_1.png);
            }
        }
        @keyframes to_top1 {
            0% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(30px);
            }
        }
        .back_door {
            animation-name: to_top1;

            > a {
                background-image: url(../image/welcome/virus_1.png);
            }
        }
        @keyframes to_top {
            0% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(15px);
            }
        }
    }
}
