html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

footer {
  width: 100%;
  background-color: #191919;
  position: absolute;
  bottom: 0; }
  footer div.footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto; }
    footer div.footer ul.list-left {
      flex: 2;
      display: flex;
      flex-wrap: wrap; }
      footer div.footer ul.list-left li {
        width: 30%;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 20px;
        margin: 5px 0; }
        footer div.footer ul.list-left li a {
          color: white;
          text-decoration: none;
          font-size: 14px; }
    footer div.footer ul.list-right {
      flex: 1; }
      footer div.footer ul.list-right li {
        margin-bottom: 25px;
        color: blanchedalmond; }
      footer div.footer ul.list-right li:nth-child(2) ul {
        display: flex; }
        footer div.footer ul.list-right li:nth-child(2) ul li {
          width: 25px;
          height: 25px;
          background-color: gray;
          margin: 0 5px;
          text-align: center; }
          footer div.footer ul.list-right li:nth-child(2) ul li a {
            text-decoration: none;
            color: #fff;
            line-height: 25px; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

header {
  background-color: #191919;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1; }
  header div.nothing {
    width: 150px;
    height: 50px; }
  header ul.list-title {
    display: flex;
    align-items: center; }
    header ul.list-title li {
      margin: 0 25px; }
    header ul.list-title li.logo > a {
      display: block;
      background-image: url(/dev/image/title/logo-image.png);
      background-position: center center;
      background-size: cover;
      width: 40px;
      height: 40px; }
    header ul.list-title li a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      color: #e6e6e6; }
  header div.fuction {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    cursor: pointer; }
    header div.fuction div {
      height: 25px; }
  header div.login-Bg.on {
    display: block; }
  header div.login-Bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: fixed;
    display: none; }
    header div.login-Bg .login-Box {
      display: inline-block;
      padding: 10px 30px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      background-color: #26292e;
      font-size: 16px;
      border-radius: 40px;
      box-shadow: inset -2px -2px 8px black, inset -2px -2px 12px rgba(30, 30, 30, 0.5), inset 2px 2px 4px rgba(30, 30, 30, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 10px;
      background-color: #3c4146;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%); }
      header div.login-Bg .login-Box:hover {
        box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.15), inset -2px -2px 12px rgba(30, 30, 30, 0.1), inset 2px 2px 4px rgba(30, 30, 30, 0.5), inset 2px 2px 8px black; }
      header div.login-Bg .login-Box:hover span.btn-shadow {
        position: absolute;
        display: inline-block;
        transform: scale(0.98); }
      header div.login-Bg .login-Box .sign-title {
        font-size: 0px;
        text-align: center;
        display: inline-block;
        margin: 15px 0;
        transform: translateX(50%); }
        header div.login-Bg .login-Box .sign-title h1 {
          cursor: pointer;
          font-size: 30px;
          text-align: center;
          display: inline-block;
          padding: 10px 20px; }
          header div.login-Bg .login-Box .sign-title h1:hover {
            transition: all 0.5s;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      header div.login-Bg .login-Box div.X {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #000;
        width: 25px;
        height: 25px; }
        header div.login-Bg .login-Box div.X span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 1px;
          background-color: black; }
        header div.login-Bg .login-Box div.X span.left {
          transform: translate(-50%, -50%) rotate(45deg); }
        header div.login-Bg .login-Box div.X span.right {
          transform: translate(-50%, -50%) rotate(-45deg); }
      header div.login-Bg .login-Box .sign-in {
        display: block; }
      header div.login-Bg .login-Box .sign-up {
        display: none; }
      header div.login-Bg .login-Box .sign {
        padding: 0 30px; }
        header div.login-Bg .login-Box .sign label {
          font-weight: normal;
          font-size: 16px; }
          header div.login-Bg .login-Box .sign label input {
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            height: 20px;
            border: 1px solid rgba(0, 0, 0, 0.5); }
          header div.login-Bg .login-Box .sign label .viveswitch {
            width: 20px;
            margin-right: 10px; }
        header div.login-Bg .login-Box .sign a {
          text-decoration: none;
          color: #1e7efc;
          font-size: 16px; }
        header div.login-Bg .login-Box .sign .submit {
          width: 100%;
          margin-top: 10px; }

section.leon {
  background-color: #111; }

div#home section.section {
  position: relative; }

div#home section.page-2 .HotNews-1 {
  padding-top: 50px; }

div#home section.page-3 .HotNews-2 {
  padding-top: 50px; }

div#home section.page-4 {
  background-color: orange; }

section.Earth {
  width: 100%;
  height: 100vh; }

section.HotNews-1 {
  width: 100%;
  height: 100vh;
  background-color: #000; }
  section.HotNews-1 .newTitle {
    width: 100%;
    height: 10%;
    padding: 0 20px;
    background: #333;
    display: flex;
    align-items: center; }
    section.HotNews-1 .newTitle .titleImg {
      width: 20px;
      height: 20px;
      background-color: #f00;
      margin-right: 10px; }
      section.HotNews-1 .newTitle .titleImg img {
        width: 100%;
        height: 100%; }
    section.HotNews-1 .newTitle h1 {
      letter-spacing: 1px;
      color: #fff;
      font-size: 24px; }
  section.HotNews-1 .container-top {
    width: 100%;
    height: 90%;
    padding: 25px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around; }
    section.HotNews-1 .container-top .videoBox {
      width: 50%;
      height: 100%;
      box-sizing: border-box; }
      section.HotNews-1 .container-top .videoBox iframe {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section.HotNews-1 .container-top .article {
      width: 50%;
      height: 90%;
      padding: 25px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 25px; }
      section.HotNews-1 .container-top .article .item {
        background-color: #ccc;
        overflow: hidden; }
        section.HotNews-1 .container-top .article .item:nth-child(1) {
          border-radius: 0 30% 0 0; }
        section.HotNews-1 .container-top .article .item:nth-child(2) {
          border-radius: 20% 0 30% 0; }
        section.HotNews-1 .container-top .article .item:nth-child(3) {
          border-radius: 0 0 30% 0; }
        section.HotNews-1 .container-top .article .item:nth-child(4) {
          border-radius: 0 30% 0 20%; }
        section.HotNews-1 .container-top .article .item a {
          display: inline-block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          padding: 20px;
          box-sizing: border-box; }
          section.HotNews-1 .container-top .article .item a img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          section.HotNews-1 .container-top .article .item a h1 {
            font-size: 24px;
            line-height: 1.2;
            margin: 10px 0;
            color: #000; }
          section.HotNews-1 .container-top .article .item a p {
            color: #333;
            font-size: 18px;
            line-height: 1.2;
            text-overflow: ellipsis;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical; }

section.HotNews-2 {
  width: 100%;
  height: 100vh;
  background-color: #000; }
  section.HotNews-2 .container-bottom {
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    display: flex; }
    section.HotNews-2 .container-bottom .bottom-left {
      width: 20%;
      height: 100%; }
      section.HotNews-2 .container-bottom .bottom-left ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 1fr;
        grid-gap: 10px; }
        section.HotNews-2 .container-bottom .bottom-left ul li {
          background-color: #ccc;
          padding: 10px;
          box-sizing: border-box; }
          section.HotNews-2 .container-bottom .bottom-left ul li:nth-child(2) {
            padding: 0px; }
            section.HotNews-2 .container-bottom .bottom-left ul li:nth-child(2) img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          section.HotNews-2 .container-bottom .bottom-left ul li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none; }
            section.HotNews-2 .container-bottom .bottom-left ul li a h1 {
              font-size: 24px;
              line-height: 1.2;
              color: #000; }
            section.HotNews-2 .container-bottom .bottom-left ul li a p {
              color: #333;
              font-size: 18px;
              line-height: 1.2;
              text-overflow: ellipsis;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical; }
          section.HotNews-2 .container-bottom .bottom-left ul li:nth-child(3) p {
            -webkit-line-clamp: 9; }
    section.HotNews-2 .container-bottom .bottom-right {
      margin-left: 5px;
      padding: 10px 5px;
      width: 80%;
      height: 100%;
      background-color: #c1c1cf; }
      section.HotNews-2 .container-bottom .bottom-right h1 {
        height: 10%;
        width: 100%;
        background-color: #abcddd; }
      section.HotNews-2 .container-bottom .bottom-right .box {
        height: 90%;
        display: flex; }
        section.HotNews-2 .container-bottom .bottom-right .box .inside-left {
          flex: 1; }
          section.HotNews-2 .container-bottom .bottom-right .box .inside-left .list {
            height: 100%;
            display: flex;
            flex-direction: column; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-left .list .list-Title {
              text-align: center;
              padding: 2.5%;
              font-size: 24px;
              background-color: #bbb; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-left .list .item {
              height: 19%;
              text-align: center;
              width: 100%;
              border: 1px solid #000; }
              section.HotNews-2 .container-bottom .bottom-right .box .inside-left .list .item a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none; }
        section.HotNews-2 .container-bottom .bottom-right .box .inside-right {
          flex: 3;
          background-color: #635454; }
          section.HotNews-2 .container-bottom .bottom-right .box .inside-right h1 {
            color: white;
            background-color: #000;
            width: 99%;
            height: 10%;
            margin: 0 auto; }
          section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template {
            padding: 5px;
            height: 90%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 2fr 1fr;
            grid-gap: 10px;
            grid-template-areas: "topLeft topLeft topRight" "bottomLeft bottomCenter bottomRight "; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-left {
              background: #000;
              grid-area: topLeft; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right {
              background: #f00;
              grid-area: topRight; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left {
              background: #0f0;
              grid-area: bottomLeft; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center {
              background: #00f;
              grid-area: bottomCenter; }
            section.HotNews-2 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right {
              background: #ff0;
              grid-area: bottomRight; }
