> li.i4 {
    margin-top: 10px;
    width: 100%;
    ul.tag_list {
        width: 100%;
        height: 100%;
        padding: 30px 100px 0 100px;
        li.p_tag {
            position: relative;
            width: 100%;
            height: 150px;
            display: flex;
            &::before {
                display: block;
                content: "";
                width: 100%;
                background-color: #ffffff;
                height: 1px;
                @include HandV_center(90%, 50%);
            }
            div.tag_title {
                flex: 2;
            }
            ul.tag_name {
                flex: 8;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                li {
                    cursor: pointer;
                    margin-right: 10px;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
