

div.pha {
    display: inline-block;
    position: absolute;
    right: 35%;
    bottom: 10%;
}

#doctor {
    width: 200px;
    position: relative;
    left: 5%;    
    animation-name: drout;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-play-state: paused;
}

@keyframes drout {
    0% {
        transform: translateX(30%)scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
    }
}

#text {
    display: inline-block;
    position: absolute;
    left: 88px;
    bottom: 394px;
    padding: 18px;
    border-radius: 30px;
    /* border: 1px snow solid; */
    border: 5px solid rgb(204, 204, 204);
    background-color: white;
    width: 300px;
    font-size: 20px;
}

#cloud {
    position: absolute;
    top: 10%;
    left: 5%;
}

#cloud img {
    width: 20%;
}

.cloud2 {
    position: absolute;
    top: 15%;
    left: 50%;
}

.cloud2 img {
    width: 20%;
}



#item {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 5%;
    padding: 10px;
    animation-name: maskin;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 2.5s;
    opacity: 1;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}
#item2 {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 5%;
    padding: 10px;
    animation-name: maskin2;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 3s;
    opacity: 1;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}

#item3 {
    position: absolute;
    top: 5%;
    left: 45%;
    width:5%;
    padding: 10px;
    animation-name: maskin3;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 3.5s;
    opacity: 1;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}

#item #img1 {
    width: 80%;
}

#item2 #img2 {
    width: 80%;
}

#item3 #img3 {
    width:80%;
}

#item:hover {
    border: 8px solid whitesmoke;
}

#item2:hover {
    border: 8px solid whitesmoke;
}

#item3:hover {
    border: 8px solid whitesmoke;
}

#item:hover h2 {
    opacity: 1;
}

#item:hover span {
    opacity: 1;
}

#item2:hover h2 {
    opacity: 1;
}

#item2:hover span {
    opacity: 1;
}

#item3:hover h2 {
    opacity: 1;
}

#item3:hover span {
    opacity: 1;
}




h2,
span.info {
    color: whitesmoke;
    text-shadow: grey 0.02em 0.02em;
    opacity: 1;
    transition: linear .3s;
}

@keyframes maskin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes maskin2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes maskin3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#alcohol,#soap,#ther {

    opacity: 1;
    animation-name: appear;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    z-index: 10;
    text-align: center;
    margin: 10px auto;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#alcohol img {
    width:50%;
}
#soap img {
    width:50%;
}
#ther img {
    width:45%;
}