$fontSize: 14px;
$haedFs: 20px;
$headColor: #0e1c36;
$color: hsl(0, 0%, 55%);
$bgc: #0e1c36;
$bgc-h: #c2dfe3;
$fontFamily: "arial" san-serif;


$btn-level: (
    level1:btn1,
    level2:btn2,
    level3:btn3,
    level4:btn4,
    level5:btn5,
    level6:btn6
);

$btn-color1: #353535;
$btn-color2: #c2dfe3;
$btn-color3: #0e1c36;
$btn-color4: #ffffff;
$btn-color5: #bdbbb0;
