html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

footer {
  width: 100%;
  background-color: #353535;
  z-index: -1; }
  footer div.footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto; }
    footer div.footer ul.list-left {
      flex: 2;
      display: flex;
      flex-wrap: wrap; }
      footer div.footer ul.list-left li {
        width: 30%;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 20px;
        margin: 5px 0; }
        footer div.footer ul.list-left li a {
          color: white;
          text-decoration: none;
          font-size: 14px; }
    footer div.footer ul.list-right {
      flex: 1; }
      footer div.footer ul.list-right li {
        margin-bottom: 25px;
        color: blanchedalmond; }
      footer div.footer ul.list-right li:nth-child(2) ul {
        display: flex; }
        footer div.footer ul.list-right li:nth-child(2) ul li {
          width: 25px;
          height: 25px;
          background-color: gray;
          margin: 0 5px;
          text-align: center; }
          footer div.footer ul.list-right li:nth-child(2) ul li a {
            text-decoration: none;
            color: #fff;
            line-height: 25px; }

@-webkit-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@-moz-keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

@keyframes animation-move {
  0% {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    -ms-transform: translate(100px, 200px);
    transform: translate(100px, 200px); } }

.animation-move {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: animation-move;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: animation-move;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -moz-animation-direction: forward;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: animation-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: forward; }

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999; }
  header div.nav_bar {
    position: relative;
    transition: top 0.3s linear;
    color: whitesmoke;
    width: 100%;
    background-image: url("/dest/image/index/background/black_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex; }
    header div.nav_bar div.logo {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      header div.nav_bar div.logo a {
        background-image: url("/dest/image/title/logo-text.png");
        width: 300px;
        height: 70px;
        display: block;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }
    header div.nav_bar div.fuction_btn_right {
      z-index: 999;
      position: absolute;
      top: 50%;
      left: 88%;
      transform: translateY(-50%); }
      header div.nav_bar div.fuction_btn_right i {
        cursor: pointer;
        font-size: 25px;
        margin-right: 20px; }
      header div.nav_bar div.fuction_btn_right div.points {
        display: flex;
        align-items: center;
        margin-bottom: 5px; }
      header div.nav_bar div.fuction_btn_right div.login_car {
        display: flex; }
  header ul.title_list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0e1c36; }
    header ul.title_list li {
      margin: 10px 15px; }
      header ul.title_list li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        color: #e6e6e6;
        letter-spacing: 3px; }
    header ul.title_list form.fuction_search {
      position: absolute;
      top: 50%;
      left: 88.2%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center; }
      header ul.title_list form.fuction_search i.icofont-search {
        font-weight: bold;
        margin-right: 15px;
        color: white;
        font-size: 25px;
        cursor: pointer; }
      header ul.title_list form.fuction_search input {
        background-color: transparent;
        box-shadow: 0 0 3px white;
        padding-left: 10px;
        color: white;
        border: none;
        border-radius: 15px;
        width: 0;
        transition: all 0.5s linear;
        opacity: 0; }
      header ul.title_list form.fuction_search input.on {
        opacity: 1;
        width: 100px; }
  header div.login-Bg.on {
    display: block; }
  header div.login-Bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #333333;
    z-index: 1;
    position: fixed;
    display: none; }
    header div.login-Bg .login-Box {
      width: 300px;
      height: 300px;
      border-radius: 50px;
      background-color: #444444;
      box-shadow: -20px -20px 20px #505050, -30px -30px 30px #4b4b4b, -40px -45px 40px #464646, -50px -50px 50px #414141, 20px 20px 20px #323232, 30px 30px 30px #2d2d2d, 40px 40px 40px #282828, 50px 50px 50px #232323;
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 10px;
      background-color: #3c4146;
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%); }
      header div.login-Bg .login-Box .sign-title {
        font-size: 0px;
        text-align: center;
        display: inline-block;
        margin: 15px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        header div.login-Bg .login-Box .sign-title h1 {
          cursor: pointer;
          font-size: 30px;
          text-align: center;
          display: inline-block;
          padding: 10px 20px; }
          header div.login-Bg .login-Box .sign-title h1:hover {
            transition: all 0.5s;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      header div.login-Bg .login-Box div.X {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #000;
        width: 25px;
        height: 25px; }
        header div.login-Bg .login-Box div.X span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 1px;
          background-color: black; }
        header div.login-Bg .login-Box div.X span.left {
          transform: translate(-50%, -50%) rotate(45deg); }
        header div.login-Bg .login-Box div.X span.right {
          transform: translate(-50%, -50%) rotate(-45deg); }
      header div.login-Bg .login-Box .sign-in {
        display: block; }
      header div.login-Bg .login-Box .sign-up {
        display: none; }
      header div.login-Bg .login-Box .sign {
        padding: 0 30px; }
        header div.login-Bg .login-Box .sign label {
          font-weight: normal;
          font-size: 16px; }
          header div.login-Bg .login-Box .sign label input {
            margin: 10px 0;
            width: 100%;
            border-radius: 5px;
            height: 20px;
            border: 1px solid rgba(0, 0, 0, 0.5); }
          header div.login-Bg .login-Box .sign label .viveswitch {
            width: 20px;
            margin-right: 10px; }
        header div.login-Bg .login-Box .sign a {
          text-decoration: none;
          color: #1e7efc;
          font-size: 16px; }
        header div.login-Bg .login-Box .sign .submit {
          width: 100%;
          margin-top: 10px; }

@font-face {
  src: url(/dev/layout/fonts/helveticaneue/HelveticaNeue.ttf);
  src: url(/dev/layout/fonts/impact/impact.ttf);
  src: url(/dev/layout/fonts/lobster/Font-Lab-Source/LobsterSource.vfb);
  src: url(/dev/layout/fonts/SilomBol.ttf);
  src: url(/dev/layout/fonts/SilomBol2.ttf);
  src: url(/dev/layout/fonts);
  src: url(/dev/layout/fonts/timr45w.ttf);
  src: url(/dev/layout/fonts/);
  src: url(/dev/layout/fonts); }

section.Earth {
  width: 100%; }

.stars,
.twinkling,
.clouds {
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  position: relative;
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) no-repeat top center;
  background-size: cover;
  z-index: 0;
  overflow: hidden; }
  .stars .Showtable {
    position: absolute;
    right: -50%;
    top: 50%;
    list-style: none; }
    .stars .Showtable li {
      padding: 10px 15px;
      color: #000;
      font-size: 20px;
      font-family: Verdana; }
  .stars .clouds {
    background: transparent url("/dest/image/earth/cloud_1.png") repeat top center;
    background-size: cover;
    z-index: 3;
    animation: move-clouds-back 200s linear infinite; }
    .stars .clouds #globe {
      cursor: pointer; }

.system {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(75deg) rotateY(-30deg);
  transform: rotateX(75deg) rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.planet,
.satellite-orbit,
.satellite {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite; }

@keyframes orbit {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

section.page-2 {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: #000; }
  section.page-2 .newTitle {
    width: 100%;
    height: 10%;
    padding: 0 20px;
    background: #333;
    display: flex;
    align-items: center; }
    section.page-2 .newTitle .titleImg {
      width: 20px;
      height: 20px;
      background-color: #f00;
      margin-right: 10px; }
      section.page-2 .newTitle .titleImg img {
        width: 100%;
        height: 100%; }
    section.page-2 .newTitle h1 {
      letter-spacing: 1px;
      color: #fff;
      font-size: 24px; }
  section.page-2 .container-top {
    width: 100%;
    height: 90%;
    padding: 25px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around; }
    section.page-2 .container-top .videoBox {
      width: 50%;
      height: 100%;
      box-sizing: border-box; }
      section.page-2 .container-top .videoBox iframe {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section.page-2 .container-top .article {
      width: 50%;
      height: 90%;
      padding: 25px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 25px; }
      section.page-2 .container-top .article .item {
        background-color: #ccc;
        overflow: hidden; }
        section.page-2 .container-top .article .item:nth-child(1) {
          border-radius: 0 30% 0 0; }
        section.page-2 .container-top .article .item:nth-child(2) {
          border-radius: 20% 0 30% 0; }
        section.page-2 .container-top .article .item:nth-child(3) {
          border-radius: 0 0 30% 0; }
        section.page-2 .container-top .article .item:nth-child(4) {
          border-radius: 0 30% 0 20%; }
        section.page-2 .container-top .article .item a {
          display: inline-block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          padding: 20px;
          box-sizing: border-box; }
          section.page-2 .container-top .article .item a img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          section.page-2 .container-top .article .item a h1 {
            font-size: 24px;
            line-height: 1.2;
            margin: 10px 0;
            color: #000; }
          section.page-2 .container-top .article .item a p {
            color: #333;
            font-size: 18px;
            line-height: 1.2;
            text-overflow: ellipsis;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical; }

section.page-3 {
  width: 100%;
  height: 100vh;
  background-color: #000; }
  section.page-3 .container-bottom {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex; }
    section.page-3 .container-bottom .bottom-left {
      padding: 0 15px;
      box-sizing: border-box;
      width: 20%;
      height: 100%; }
      section.page-3 .container-bottom .bottom-left ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 1fr;
        grid-gap: 10px; }
        section.page-3 .container-bottom .bottom-left ul li {
          background-color: #ccc;
          padding: 10px;
          box-sizing: border-box; }
          section.page-3 .container-bottom .bottom-left ul li:nth-child(2) {
            padding: 0px; }
            section.page-3 .container-bottom .bottom-left ul li:nth-child(2) img {
              width: 100%;
              height: 100%; }
          section.page-3 .container-bottom .bottom-left ul li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none; }
            section.page-3 .container-bottom .bottom-left ul li a h1 {
              font-size: 24px;
              line-height: 1.2;
              color: #000; }
            section.page-3 .container-bottom .bottom-left ul li a p {
              color: #333;
              font-size: 18px;
              line-height: 1.2;
              text-overflow: ellipsis;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              text-align: justify; }
          section.page-3 .container-bottom .bottom-left ul li:nth-child(3) p {
            -webkit-line-clamp: 9;
            text-align: justify; }
    section.page-3 .container-bottom .bottom-right {
      margin-left: 5px;
      padding: 10px 5px;
      width: 80%;
      height: 100%;
      background-color: #c1c1cf; }
      section.page-3 .container-bottom .bottom-right > h1 {
        padding: 5px 0;
        margin: 5px 0;
        box-sizing: border-box;
        width: 100%;
        background-color: #abcddd;
        text-align: center;
        line-height: 1.5; }
      section.page-3 .container-bottom .bottom-right .box {
        height: 90%;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex; }
        section.page-3 .container-bottom .bottom-right .box .inside-left {
          flex: 1;
          margin: 0 15px; }
          section.page-3 .container-bottom .bottom-right .box .inside-left .list {
            height: 100%;
            display: flex;
            flex-direction: column; }
            section.page-3 .container-bottom .bottom-right .box .inside-left .list .list-Title {
              text-align: center;
              padding: 2.5%;
              font-size: 20px;
              background-color: #bbb;
              letter-spacing: 2px; }
            section.page-3 .container-bottom .bottom-right .box .inside-left .list .item {
              height: 19%;
              text-align: center;
              width: 100%;
              border: 1px solid #000; }
              section.page-3 .container-bottom .bottom-right .box .inside-left .list .item a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none; }
        section.page-3 .container-bottom .bottom-right .box .inside-right {
          padding: 15px;
          box-sizing: border-box;
          flex: 3;
          background-color: #635454; }
          section.page-3 .container-bottom .bottom-right .box .inside-right > h1 {
            color: white;
            background-color: #000;
            width: 99%;
            height: 5%;
            margin: 0 auto; }
          section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template {
            padding: 5px;
            height: 95%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 2fr 1fr;
            grid-gap: 10px;
            grid-template-areas: "topLeft topLeft topRight" "bottomLeft bottomCenter bottomRight "; }
            section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-left {
              background: #000;
              grid-area: topLeft; }
              section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-left > a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-left > a > img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover; }
            section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right {
              background: #f00;
              grid-area: topRight; }
              section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right > ul {
                width: 100%;
                height: 100%;
                list-style: none; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right > ul > li {
                  width: 100%;
                  height: calc(100% / 7);
                  padding: 5px;
                  box-sizing: border-box;
                  border-bottom: 1px solid #000; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right > ul > li > a {
                    display: inline-block;
                    text-decoration: none; }
                    section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-top-right > ul > li > a > p {
                      font-size: 16px;
                      color: #333;
                      line-height: 1.5;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      text-align: justify; }
            section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left {
              background: #0f0;
              grid-area: bottomLeft; }
              section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex {
                width: 100%;
                height: 100%; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex .insideImgbox {
                  width: 100%;
                  height: 40%; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex .insideImgbox > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex .insideText {
                  width: 100%;
                  height: 60%;
                  padding: 5px;
                  box-sizing: border-box; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex .insideText > a {
                    text-decoration: none; }
                    section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-left .inside-news-flex .insideText > a > p {
                      font-size: 20px;
                      color: #333;
                      text-align: justify; }
            section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center {
              grid-area: bottomCenter; }
              section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex {
                width: 100%;
                height: 100%; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex .insideImgbox {
                  width: 100%;
                  height: 40%; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex .insideImgbox > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex .insideText {
                  width: 100%;
                  height: 60%;
                  padding: 5px;
                  box-sizing: border-box; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex .insideText > a {
                    text-decoration: none; }
                    section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-center .inside-news-flex .insideText > a > p {
                      font-size: 20px;
                      color: #333;
                      text-align: justify; }
            section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right {
              background: #ff0;
              grid-area: bottomRight; }
              section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex {
                width: 100%;
                height: 100%; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex .insideImgbox {
                  width: 100%;
                  height: 40%; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex .insideImgbox > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; }
                section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex .insideText {
                  width: 100%;
                  height: 60%;
                  padding: 5px;
                  box-sizing: border-box; }
                  section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex .insideText > a {
                    text-decoration: none; }
                    section.page-3 .container-bottom .bottom-right .box .inside-right .grid-template .grid-bottom-right .inside-news-flex .insideText > a > p {
                      font-size: 20px;
                      color: #333;
                      text-align: justify; }

.page-4 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000; }

.swiper-container {
  width: 100%;
  height: 100vh;
  background: #000; }
  .swiper-container .swiper-wrapper {
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s; }
    .swiper-container .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100%; }
      .swiper-container .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .swiper-container .swiper-wrapper .swiper-slide-content {
        position: absolute;
        text-align: center;
        max-width: 40%;
        max-height: 400px;
        left: 0;
        top: 13%;
        transform: translate(50%, 0);
        z-index: 2; }
        .swiper-container .swiper-wrapper .swiper-slide-content .timeline-title {
          font-weight: 800;
          font-size: 24px;
          margin: 0 0 30px;
          opacity: 1;
          transform: translate3d(20px, 0, 0);
          transition: .2s ease .5s; }
        .swiper-container .swiper-wrapper .swiper-slide-content .timeline-text {
          font-size: 20px;
          line-height: 1.5;
          opacity: 1;
          transform: translate3d(20px, 0, 0);
          transition: .2s ease .6s;
          text-align: justify;
          margin-bottom: 50px; }
        .swiper-container .swiper-wrapper .swiper-slide-content .timeline-link {
          text-decoration: none;
          background-color: #f00;
          color: white;
          padding: 20px;
          border-radius: 5px;
          letter-spacing: 1px; }

.swiper-pagination {
  right: 15% !important;
  top: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1; }
  .swiper-pagination::before {
    content: '';
    position: absolute;
    left: -30%;
    top: -20%;
    height: 100vh;
    width: 2px;
    background-color: #0c0c0b;
    z-index: 5; }
  .swiper-pagination-bullets {
    top: 70% !important; }
  .swiper-pagination .swiper-pagination-bullet {
    top: 70%;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #000;
    opacity: .3;
    background: none;
    border-radius: 5px;
    padding: 10px 0; }
    .swiper-pagination .swiper-pagination-bullet::before {
      content: "";
      width: 40px;
      height: 2px;
      position: absolute;
      margin-top: 10px;
      left: -30%;
      background-color: #000;
      opacity: 0; }
    .swiper-pagination .swiper-pagination-bullet-active {
      font-size: 30px;
      color: #ccd0d4;
      opacity: 1; }
      .swiper-pagination .swiper-pagination-bullet-active::before {
        background: #a5a8ac;
        opacity: 1; }

.swiper-button-prev {
  right: 18%;
  left: 0;
  top: 3%;
  transform: rotate(90deg); }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: initial !important; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 18%;
  transform: rotate(90deg); }

.swiper-button-next {
  top: 80% !important; }

* {
  padding: 0;
  margin: 0; }

.sop-All {
  width: 100vw;
  height: 100vh;
  background: url("/dest/image/sopImg/black_background.png") no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex; }
  .sop-All .content-container {
    width: 100%;
    height: 30%; }
    .sop-All .content-container .content-box {
      width: 100%;
      height: 100%; }
      .sop-All .content-container .content-box > h1 {
        width: 20%;
        height: 20%;
        line-height: 1.5;
        letter-spacing: 2px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin: 0 auto;
        margin-top: 30px; }
      .sop-All .content-container .content-box > p {
        padding: 20px 15px;
        width: 50%;
        height: 20%;
        font-size: 20px;
        color: #fff;
        margin: 0 auto;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center; }
  .sop-All .show_sop {
    width: 100%;
    height: 50%; }
    .sop-All .show_sop .Sop_Process {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%; }
      .sop-All .show_sop .Sop_Process .container_sop {
        overflow: hidden;
        width: 30%;
        height: 100%;
        border-radius: 50%;
        border: 20px solid #fff; }

.Sop-plane {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 285px;
  position: relative;
  z-index: 10; }
  .Sop-plane .worldwide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(0deg); }
  .Sop-plane > .cancel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: linear 0.5s; }
  .Sop-plane > .General_Office {
    position: absolute;
    left: -100%;
    transform: scale(1) rotate(0deg);
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: linear .5s; }
  .Sop-plane:hover > .General_Office {
    width: 100%;
    height: 80%;
    transition: ease .5s;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) scale(0.5) rotate(45deg); }
  .Sop-plane:hover > .cancel {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: ease 0.5s; }

.sop-thermometer {
  width: 100%;
  height: 100%;
  transform: scale(1);
  position: relative;
  z-index: 10; }
  .sop-thermometer > .sop-thermometer-img {
    display: inline-block;
    width: 50%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 10%; }
  .sop-thermometer > .pos-thermometer {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 10%;
    left: 60%; }
    .sop-thermometer > .pos-thermometer > .thermometer_container {
      width: 30%;
      height: 70%;
      position: absolute; }
      .sop-thermometer > .pos-thermometer > .thermometer_container > .thermometer {
        border: 5px solid #5C525F;
        border-bottom: transparent;
        box-sizing: border-box;
        display: block;
        position: absolute;
        z-index: 1;
        left: 20px;
        width: 40px;
        height: 238px;
        border-radius: 50px 50px 0 0;
        background: #FFF; }
        .sop-thermometer > .pos-thermometer > .thermometer_container > .thermometer > .stem {
          background: #EFEFEF;
          position: relative;
          display: block;
          width: 20px;
          height: 232px;
          border-radius: 10px 10px 0 0;
          margin: 5px auto; }
          .sop-thermometer > .pos-thermometer > .thermometer_container > .thermometer > .stem > .fluid {
            background: #f80404;
            display: block;
            width: 100%;
            height: 2%;
            border-radius: 25px 25px 0 0;
            position: absolute;
            bottom: 0; }
      .sop-thermometer > .pos-thermometer > .thermometer_container .base {
        box-shadow: 0 0 0 5px #FFF, 0 0 0 10px #5C525F;
        background: #f80404;
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 60px;
        color: #FFF;
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 60px;
        height: 60px;
        border-radius: 100%; }

@keyframes opacity {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.wash-hand {
  width: 100%;
  height: 90%;
  position: relative;
  z-index: 10; }
  .wash-hand > .sop-hand1 {
    width: 45%;
    position: absolute;
    z-index: -3;
    bottom: 5%;
    left: 18%;
    animation-play-state: paused;
    animation-name: handmove1;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite; }
  .wash-hand > .sop-hand2 {
    width: 45%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: 18%;
    animation-play-state: paused;
    animation-name: handmove2;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite; }
  .wash-hand:hover .sop-hand1 {
    animation-play-state: running; }
  .wash-hand:hover .sop-hand2 {
    animation-play-state: running; }
  .wash-hand > .bubble1 {
    position: absolute;
    z-index: -2;
    width: 33%;
    bottom: 2%;
    left: 35%;
    animation: 1s out linear infinite alternate-reverse paused; }
  .wash-hand:hover .bubble1 {
    animation-play-state: running; }
  .wash-hand > .sop-hand-water-1 {
    position: absolute;
    width: 5%;
    z-index: -2;
    top: 20%;
    right: 42%;
    opacity: 0; }
    .wash-hand > .sop-hand-water-1.-w1 {
      animation-play-state: running;
      animation-name: watermove1;
      animation-duration: 1s;
      animation-delay: 0.9s;
      animation-iteration-count: infinite; }
  .wash-hand > .sop-hand-water-2 {
    position: absolute;
    width: 5%;
    top: 20px;
    z-index: -2;
    right: 42%;
    opacity: 0; }
    .wash-hand > .sop-hand-water-2.-w2 {
      animation-play-state: running;
      animation-name: watermove1;
      animation-duration: 1s;
      animation-delay: 0.7s;
      animation-iteration-count: infinite; }
  .wash-hand > .sop-hand-water-3 {
    position: absolute;
    width: 5%;
    top: 20px;
    z-index: -2;
    right: 42%;
    opacity: 0; }
    .wash-hand > .sop-hand-water-3.-w3 {
      animation-play-state: running;
      animation-name: watermove1;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite; }
  .wash-hand > .sop-hand-faucet {
    position: absolute;
    right: 20%;
    top: 20%;
    width: 30%; }

@keyframes out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes handmove1 {
  0% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); } }

@keyframes handmove2 {
  0% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(0); } }

@keyframes watermove1 {
  0% {
    top: 40%;
    opacity: 0; }
  30% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    top: 70%;
    opacity: 0; } }

@keyframes watermove2 {
  0% {
    top: 50%;
    opacity: 0; }
  30% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    top: 70%;
    opacity: 0; }
  0% {
    top: 50%;
    opacity: 0; } }

.merge-game-Carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .merge-game-Carousel .game-background {
    width: 100%;
    height: 65%;
    background: url("/dev/image/index-game-page/covid-19-game.png") no-repeat;
    background-size: cover;
    position: relative; }
    .merge-game-Carousel .game-background > .context {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
      width: 50%;
      height: 20%;
      padding: 10px 20px; }
      .merge-game-Carousel .game-background > .context > p {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #000;
        letter-spacing: 1px;
        line-height: 1.5; }
    .merge-game-Carousel .game-background > .game-btn {
      width: 100px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -60%); }
      .merge-game-Carousel .game-background > .game-btn > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none; }
        .merge-game-Carousel .game-background > .game-btn > a > p.btn {
          display: inline-block;
          padding: 10px 30px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 2px;
          font-size: 20px;
          border-radius: 40px;
          box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15); }
          .merge-game-Carousel .game-background > .game-btn > a > p.btn:hover {
            box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15); }
          .merge-game-Carousel .game-background > .game-btn > a > p.btn:hover span.btn-shadow {
            position: absolute;
            display: inline-block;
            transform: scale(0.98); }
  .merge-game-Carousel .Carousel {
    width: 100%;
    height: 35%; }
    .merge-game-Carousel .Carousel > .title {
      width: 100%;
      height: 10%;
      padding: 0 40px;
      box-sizing: border-box; }
      .merge-game-Carousel .Carousel > .title p {
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 1px; }
    .merge-game-Carousel .Carousel > .Carousel-Container {
      width: 100%;
      height: 90%; }
      .merge-game-Carousel .Carousel > .Carousel-Container .relative-info {
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative; }
        .merge-game-Carousel .Carousel > .Carousel-Container .relative-info > .relative-info-inner {
          height: 100%;
          width: 90%;
          display: inline-block; }
          .merge-game-Carousel .Carousel > .Carousel-Container .relative-info > .relative-info-inner > .myowl-2 {
            width: 100%;
            height: 100%; }
            .merge-game-Carousel .Carousel > .Carousel-Container .relative-info > .relative-info-inner > .myowl-2 .myowl-item-2 {
              width: 100%;
              height: 100%;
              padding: 10px 15px;
              box-sizing: border-box; }
              .merge-game-Carousel .Carousel > .Carousel-Container .relative-info > .relative-info-inner > .myowl-2 .myowl-item-2 > img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
        .merge-game-Carousel .Carousel > .Carousel-Container .relative-info .owl-nav .pre {
          position: absolute;
          left: -5%;
          color: white;
          font-size: 400%;
          top: 35%; }
        .merge-game-Carousel .Carousel > .Carousel-Container .relative-info .owl-nav .next {
          position: absolute;
          right: -4%;
          top: 35%;
          color: white;
          font-size: 400%; }
