* {
    margin: 0;
    padding: 0;
}

.stars,
.twinkling,
.clouds {
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    position: relative;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) no-repeat top center;
    background-size: cover;
    z-index: 0;
    overflow: hidden;


    .Showtable{
        position: absolute;
        
        right: -50%;
        top: 50%;
        list-style: none;

        li{
            padding: 10px 15px;
            // background: #ccc;
            color: #000;
            font-size: 20px;
            font-family: Verdana;
        }
    }

    .clouds {
        background: transparent url("./../../img/cloud_1.png") repeat top center;
        background-size: cover;
        z-index: 3;
        animation: move-clouds-back 200s linear infinite;
        #globe {
            cursor: pointer;
        }
    }
}


.system {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(75deg) rotateY(-30deg);
    transform: rotateX(75deg) rotateY(-30deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.planet,
.satellite-orbit,
.satellite {
    position: absolute;
    top: 50%;
    left: 50%;


    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}



@keyframes orbit {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}


@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}



