// btn-neno html結構 字大小、高度、寬度
// <ahref="#">
// <span></span>
// <span></span>
// <span></span>
// <span></span>
// Neon Button
// </a>
@mixin btn-neno($Fs: 16, $updown: 15, $leftright: 20) {
  @content;
  font-family: consolas;
  box-sizing: border-box;
  display: inline-block;
  padding: $updown + px $leftright + px;
  color: #2186f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: $Fs + px;
  overflow: hidden;
  transition: 0.2s;
  &:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2186f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }
  %span-style {
    position: absolute;
    display: block;
  }
  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2186f3);
    @extend %span-style;
  }
  &:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2186f3);
    @extend %span-style;
  }
  &:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2186f3);
    @extend %span-style;
  }
  &:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2186f3);
    @extend %span-style;
  }
  &:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}
// <div class="center">  大小固定
// <input type="checkbox" name="" >
// </div>

// $btnH_out: 20px;
// $btnW_out: $btnH_out * 3;
// $btnH_in: $btnH_out;
// $btnW_in: $btnH_out * 2;
// $btn_point_form: $btnW_out * 0.417;
// $btn_point_to: $btnW_out * 0.75;
// $btn_in_move: $btnH_out;
@mixin switch($btnH_out) {
  cursor: pointer;
  @content;
  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: $btnH_out * 3;
    height: $btnH_out;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: $btnH_out;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
      inset 0 0 10px rgba(0, 0, 0, 0.2);
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: $btnH_out;
      width: $btnH_out * 2;
      background: linear-gradient(0deg, #000, #6b6b6b);
      border-radius: 40px;
      box-shadow: 0 0 0 1px #232323;
      transform: scale(0.98, 0.96);
      transition: 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: $btnH_out * 3 * 0.417;
      width: 4px;
      height: 4px;
      background: linear-gradient(0deg, #6b6b6b, #000);
      border-radius: 40px;
      transition: 0.5s;
    }
  }
  input:checked {
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1),
      0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
  input:checked::before {
    left: $btnH_out;
  }
  input:checked::after {
    background: #63cdff;
    left: $btnH_out * 3 * 0.75;
    border-style: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
  }
}

@mixin shadow-botton-white($Fs: 16, $updown: 10, $leftright: 30) {
  @content;
  display: inline-block;
  padding: $updown + px $leftright + px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: $Fs + px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1), -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  &:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1), inset -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  }
  &:hover span.btn-shadow {
    position: absolute;
    display: inline-block;
    transform: scale(0.98);
  }
}
@mixin shadow-botton-black($Fs: 16, $updown: 10, $leftright: 30) {
  @content;
  display: inline-block;
  padding: $updown + px $leftright + px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: rgba(38, 41, 46, 1);
  font-size: $Fs + px;
  border-radius: 40px;
  box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 1), inset -2px -2px 12px rgba(30, 30, 30, 0.5),
    inset 2px 2px 4px rgba(30, 30, 30, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.15), inset -2px -2px 12px rgba(30, 30, 30, 0.1),
      inset 2px 2px 4px rgba(30, 30, 30, 0.5), inset 2px 2px 8px rgba(0, 0, 0, 1);
  }
  &:hover span.btn-shadow {
    position: absolute;
    display: inline-block;
    transform: scale(0.98);
  }
}
@mixin shadow-btn-black($btn-level) {
  @if $btn-level== level1 {
    @include shadow-botton-black(24, 50, 180);
  } @else if $btn-level==level2 {
    @include shadow-botton-black(22, 45, 150);
  } @else if $btn-level== level3 {
    @include shadow-botton-black(20, 40, 130);
  } @else if $btn-level== level4 {
    @include shadow-botton-black(18, 30, 120);
  } @else if $btn-level== level5 {
    @include shadow-botton-black(16, 25, 100);
  } @else if $btn-level== level6 {
    @include shadow-botton-black(12, 15, 80);
  }
}
@mixin shadow-box-black($bw: 300px, $bh: 300px) {
  @content;
  width: $bw;
  height: $bh;
  border-radius: 50px;
  background-color: #444444;
  box-shadow: -20px -20px 20px rgb(80, 80, 80), -30px -30px 30px rgb(75, 75, 75), -40px -45px 40px rgb(70, 70, 70),
    -50px -50px 50px rgb(65, 65, 65), 20px 20px 20px rgb(50, 50, 50), 30px 30px 30px rgb(45, 45, 45),
    40px 40px 40px rgb(40, 40, 40), 50px 50px 50px rgb(35, 35, 35);
}
@mixin shadow-box-white($bw: 300px, $bh: 300px) {
  @content;
  width: $bw;
  height: $bh;
  border-radius: 50px;
  background-color: white;
  box-shadow: -25px -20px 20px rgb(240, 240, 240), -30px -30px 40px rgb(230, 230, 230),
    -40px -40px 60px rgb(220, 220, 220), -50px -50px 80px rgb(210, 210, 210), 20px 20px 20px rgb(210, 210, 210),
    30px 30px 40px rgb(220, 220, 220), 40px 40px 60px rgb(230, 230, 230), 50px 50px 80px rgb(240, 240, 240);
}
//使用格式
//    #btn {
//      @include btn_updown;
//          }
//    #btn.on {
//      @include btn_hold;
// }
@mixin btn_updown {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  box-shadow: inset -3px -3px 0 black;
  background-color: cadetblue;
  transition: box-shadow 0.3s linear;
  &:active {
    box-shadow: inset 3px 3px 0 black;
    transition: box-shadow 0.3s linear;
  }
}
